{#
{% sw_extends '@Storefront/storefront/block/cms-block-image-text.html.twig' %}
#}

{% block block_text_image_background %}

    {% set columns = 2 %}

    {% set element = block.slots.getSlot('leftText') %}
    {% set id = element.id %}

    <div class="block-holder" data-cms-element-id="{{ id }}">
        {% block block_image_text_left_text %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}

        {% set element = block.slots.getSlot('leftImage') %}
        {% block block_image_text_left_image %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>

    {% set element = block.slots.getSlot('rightText') %}
    {% set id = element.id %}

    <div class="block-holder" data-cms-element-id="{{ id }}">
        {% block block_image_text_right_text %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}

        {% set element = block.slots.getSlot('rightImage') %}
        {% block block_image_text_right_image %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>

{% endblock %}
