{% block klarna_payment_settings %}
    <sw-page class="klarna-payment">
        {% block klarna_payment_settings_header %}
            <template slot="smart-bar-header">
                <h2>
                    {{ $tc('sw-settings.index.title') }}
                    <sw-icon name="small-arrow-medium-right" small></sw-icon>
                    {{ $tc('klarna-payment-configuration.settingsForm.title') }}
                </h2>
            </template>
        {% endblock %}

        {% block klarna_payment_settings_actions %}
            <template slot="smart-bar-actions">
                {% block klarna_payment_settings_actions_wizard %}
                    <sw-button
                        :disabled="isLoading || isTesting"
                        @click="onWizard">
                        {{ $tc('klarna-payment-configuration.settingsForm.buttons.wizard') }}
                    </sw-button>
                {% endblock %}
                {% block klarna_payment_settings_actions_test %}
                    <sw-button-process
                        :isLoading="isTesting"
                        :processSuccess="isTestSuccessful"
                        @process-finish="onTestFinished()"
                        :disabled="isLoading"
                        @click="onTest">
                        {{ $tc('klarna-payment-configuration.settingsForm.buttons.test') }}
                    </sw-button-process>
                {% endblock %}

                {% block klarna_payment_settings_actions_save %}
                    <sw-button-process
                        class="sw-settings-login-registration__save-action"
                        :isLoading="isLoading"
                        :processSuccess="isSaveSuccessful"
                        @process-finish="onSaveFinished()"
                        :disabled="isLoading || isTesting"
                        variant="primary"
                        @click="onSave">
                        {{ $tc('klarna-payment-configuration.settingsForm.buttons.save') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block klarna_payment_settings_content %}
            <template slot="content">
                <sw-card-view>
                    <sw-system-config
                        ref="systemConfig"
                        salesChannelSwitchable
                        inherit
                        @config-changed="onConfigChange"
                        @saleschannel-changed="setSalesChannelDomainsWithoutHttps"
                        domain="KlarnaPayment.settings">
                        <template #card-element="{ element, config }">
                            <div v-show="displayField(element, config)">
                                <sw-container v-if="element.name.endsWith('allowedKlarnaPaymentsCodes')">
                                    <div class="klarna-payment-settings-kp__info">
                                        <ul>
                                            <li>
                                                <h3>{{ $tc('klarna-payment-configuration.settingsForm.klarnaPayments.payLater.title') }}</h3>
                                                <img src="https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.png" :title="$tc('klarna-payment-configuration.settingsForm.klarnaPayments.payLater.title')" :alt="$tc('klarna-payment-configuration.settingsForm.klarnaPayments.payLater.title')"/>
                                                <p>{{ $tc('klarna-payment-configuration.settingsForm.klarnaPayments.payLater.description') }}</p>
                                            </li>
                                            <li>
                                                <h3>{{ $tc('klarna-payment-configuration.settingsForm.klarnaPayments.sliceIt.title') }}</h3>
                                                <img src="https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.png" :title="$tc('klarna-payment-configuration.settingsForm.klarnaPayments.sliceIt.title')" :alt="$tc('klarna-payment-configuration.settingsForm.klarnaPayments.sliceIt.title')"/>
                                                <p>{{ $tc('klarna-payment-configuration.settingsForm.klarnaPayments.sliceIt.description') }}</p>
                                            </li>
                                            <li>
                                                <h3>{{ $tc('klarna-payment-configuration.settingsForm.klarnaPayments.payNow.title') }}</h3>
                                                <img src="https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.png" :title="$tc('klarna-payment-configuration.settingsForm.klarnaPayments.payNow.title')" :alt="$tc('klarna-payment-configuration.settingsForm.klarnaPayments.payNow.title')"/>
                                                <p>{{ $tc('klarna-payment-configuration.settingsForm.klarnaPayments.payNow.description') }}</p>
                                                <p><sw-icon name="default-badge-info" small color="#3498db"></sw-icon> {{ $tc('klarna-payment-configuration.settingsForm.klarnaPayments.payNow.additional') }}</p>
                                            </li>
                                        </ul>
                                    </div>
                                </sw-container>

                                <sw-container v-if="element.name.endsWith('termsCategory') && salesChannelDomainsWithoutHttps.length > 0">
                                    <sw-alert variant="warning" appearance="default" :showIcon="true" :closable="false">
                                        <p>{{ $tc('klarna-payment-configuration.settingsForm.klarnaPayments.instantShopping.domainsWithoutHttps', salesChannelDomainsWithoutHttps.length, { domains: salesChannelDomainsWithoutHttps }) }}</p>
                                        <ul v-if="salesChannelDomainsWithoutHttps.length > 1">
                                            <li v-for="domain in salesChannelDomainsWithoutHttps">
                                                {{ domain }}
                                            </li>
                                        </ul>
                                        <p>{{ $t('klarna-payment-configuration.settingsForm.klarnaPayments.instantShopping.domainsWithoutHttpsRecommendation') }}</p>
                                    </sw-alert>
                                </sw-container>

                                <sw-form-field-renderer
                                    :config="{
                                        componentName: 'sw-entity-single-select',
                                        label: getInlineSnippet(element.config.label),
                                        helpText: getInlineSnippet(element.config.helpText),
                                        entity: 'state_machine_state',
                                        criteria: getOrderStatusCriteria(),
                                    }"
                                    v-model="config[element.name]"
                                    v-if="element.name.endsWith('OrderStatus')">
                                </sw-form-field-renderer>

                                <sw-form-field-renderer
                                    :config="{
                                        componentName: 'sw-entity-single-select',
                                        label: getInlineSnippet(element.config.label),
                                        helpText: getInlineSnippet(element.config.helpText),
                                        entity: 'state_machine_state',
                                        criteria: getDeliveryStatusCriteria(),
                                    }"
                                    v-model="config[element.name]"
                                    v-else-if="element.name.endsWith('DeliveryStatus')">
                                </sw-form-field-renderer>

                                <sw-form-field-renderer
                                    :config="{
                                        componentName: 'sw-entity-single-select',
                                        label: getInlineSnippet(element.config.label),
                                        helpText: getInlineSnippet(element.config.helpText),
                                        entity: 'shipping_method',
                                    }"
                                    v-model="config[element.name]"
                                    v-else-if="element.name.endsWith('DeliveryMethod')">
                                </sw-form-field-renderer>

                                <sw-form-field-renderer
                                        :config="{
                                        componentName: 'sw-entity-single-select',
                                        label: getInlineSnippet(element.config.label),
                                        helpText: getInlineSnippet(element.config.helpText),
                                        entity: 'category',
                                        criteria: getTermsCriteria(),
                                    }"
                                        v-model="config[element.name]"
                                        v-else-if="element.name.endsWith('termsCategory')">
                                </sw-form-field-renderer>


                                <sw-form-field-renderer
                                    :config="{
                                        componentName: 'sw-multi-select',
                                        label: getInlineSnippet(element.config.label),
                                        helpText: getInlineSnippet(element.config.helpText),
                                        multi: true,
                                        options: paymentMethods,
                                    }"
                                    v-model="config[element.name]"
                                    v-else-if="element.name.endsWith('externalPaymentMethods')">
                                </sw-form-field-renderer>

                                <sw-form-field-renderer
                                    :config="{
                                        componentName: 'sw-multi-select',
                                        label: getInlineSnippet(element.config.label),
                                        helpText: getInlineSnippet(element.config.helpText),
                                        multi: true,
                                        options: externalCheckoutPaymentMethods,
                                    }"
                                    v-model="config[element.name]"
                                    v-else-if="element.name.endsWith('externalCheckouts')">
                                </sw-form-field-renderer>

                                <sw-form-field-renderer
                                    v-bind="getBind(element, config)"
                                    v-model.trim="config[element.name]"
                                    :disabled="disableField(element)"
                                    v-else-if="element.name.endsWith('Username') || element.name.endsWith('Password')">
                                </sw-form-field-renderer>

                                <sw-form-field-renderer
                                    v-bind="getBind(element, config)"
                                    v-model="config[element.name]"
                                    :disabled="disableField(element)"
                                    v-else>
                                </sw-form-field-renderer>

                                <div v-if="element.name.endsWith('isOnsiteMessagingActive')" class="klarna-field--osm-description">
                                    <p>
                                        <a v-if="getConfigValue('testMode')" target="_blank"
                                           :href="$tc('klarna-payment-configuration.settingsForm.onsiteMessaging.playgroundUrl')">
                                            <sw-button size="x-small">
                                                {{ $tc('klarna-payment-configuration.settingsForm.onsiteMessaging.generate')}}
                                            </sw-button>
                                        </a>
                                        <a v-else target="_blank"
                                           :href="$tc('klarna-payment-configuration.settingsForm.onsiteMessaging.defaultUrl')">
                                            <sw-button size="x-small">
                                                {{ $tc('klarna-payment-configuration.settingsForm.onsiteMessaging.generate')}}
                                            </sw-button>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </template>
                    </sw-system-config>
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
