{% block swag_cms_extensions_block_config_quickview %}
    {# @deprecated tag:2.0.0 use `swag_cms_extensions_block_config_quickview` instead #}
    {% block swag_cms_extensions_block_config %}
        <div class="swag-cms-extensions-block-config-quickview">
            <sw-sidebar-collapse :expandOnLoading="false">

                {% block swag_cms_extensions_block_config_quickview_header %}
                    {# @deprecated tag:2.0.0 use `swag_cms_extensions_block_config_quickview_header` instead #}
                    {% block swag_cms_extensions_sidebar_block_behavior_settings_header %}
                        <template #header>
                            <div class="swag-cms-extensions-block-config-quickview__header">
                                {{ $tc('swag-cms-extensions.sw-cms.detail.quickview.sidebarHeaderBlockBehaviorSettings') }}
                            </div>
                        </template>
                    {% endblock %}
                {% endblock %}

                {% block swag_cms_extensions_block_config_quickview_content %}
                    {# @deprecated tag:2.0.0 use `swag_cms_extensions_block_config_quickview_content` instead #}
                    {% block swag_cms_extensions_sidebar_block_behavior_settings_form %}
                        <template #content>
                            <div class="sw-cms-block-config swag-cms-extensions-block-config-quickview__content">

                                {% block swag_cms_extensions_block_config_quickview_content_active %}
                                    {# @deprecated tag:2.0.0 use `swag_cms_extensions_block_config_quickview_content_active` instead #}
                                    {% block swag_cms_extensions_block_config_show_quickview_field %}
                                        <sw-switch-field
                                                v-model="quickview.active"
                                                class="swag-cms-extensions-block-config-quickview__active-switch"
                                                :label="$tc('swag-cms-extensions.sw-cms.detail.quickview.showQuickviewLabel')"
                                                :helpText="$tc('swag-cms-extensions.sw-cms.detail.quickview.showQuickviewHelpText')"
                                                :disabled="!blockIsProductRelated || !acl.can('cms.editor')"
                                                @change="quickviewActiveChanged">
                                        </sw-switch-field>
                                    {% endblock %}
                                {% endblock %}

                            </div>
                        </template>
                    {% endblock %}
                {% endblock %}

            </sw-sidebar-collapse>
        </div>
    {% endblock %}
{% endblock %}