{% block sw_cms_block_text_image_background_two_column %}
    <div class="sw-cms-block-text-image-background-two-column">
        <slot name="leftText">{% block sw_cms_block_text_image_background_two_column_slot_left_text %}{% endblock %}</slot>
        <slot name="rightText">{% block sw_cms_block_text_image_background_two_column_slot_right_text %}{% endblock %}</slot>
        <slot name="leftImage">{% block sw_cms_block_text_image_background_two_column_slot_left_image %}{% endblock %}</slot>
        <slot name="rightImage">{% block sw_cms_block_text_image_background_two_column_slot_right_image %}{% endblock %}</slot>
    </div>
{% endblock %}
