{% block swag_customized_products_option_type_advanced_surcharges %}
    <div class="swag-customized-products-option-type-advanced-surcharges">

        {% block swag_customized_products_option_type_advanced_surcharges_warning_base_price %}
            <sw-alert variant="warning">
                {{ $tc('swag-customized-products.optionDetailModal.optionType.surcharges.textWarningBasePrice') }}
            </sw-alert>
        {% endblock %}

        <div :key="relativeSurcharge">

            {% block swag_customized_products_option_type_advanced_surcharges_data_grid %}
                <sw-data-grid :isLoading="isLoading"
                              :compactMode="false"
                              :dataSource="prices"
                              :columns="pricesColumns"
                              :allowInlineEdit="false"
                              :allowColumnEdit="true"
                              :showSettings="true"
                              :showSelection="false">

                    <template #column-ruleId="{ item, compact, isInlineEdit }">

                        {% block swag_customized_products_option_type_advanced_surcharges_select_rule_id %}
                            <sw-entity-single-select
                                v-model="item.ruleId"
                                entity="rule"
                                :popoverConfig="{active: true, resizeWidth: true, style: { zIndex: 1000 }}"
                                :placeholder="$tc('swag-customized-products.general.selectRule')">

                                <template #result-item="{ isSelected, setValue, item, index, labelProperty, searchTerm, highlightSearchTerm, getKey }">

                                    {% block swag_customized_products_option_type_advanced_surcharges_select_rule_id_result_item %}
                                        <li v-bind="{ item, index }"
                                            :disabled="isRuleSelected(item.id)"
                                            is="sw-select-result"
                                            @item-select="setValue">
                                            {{ getKey(item, labelProperty) || getKey(item, `translated.${labelProperty}`) }}
                                        </li>
                                    {% endblock %}
                                </template>
                            </sw-entity-single-select>
                        {% endblock %}
                    </template>

                    <template v-for="currency in currencies" :slot="`column-${currency.id}`" slot-scope="{ item, compact, isInlineEdit }">

                        {% block swag_customized_products_option_type_advanced_surcharges_currency_column %}
                            {% block swag_customized_products_option_type_advanced_surcharges_currency_column_inheritance_switch %}
                                <template v-if="currency.id !== defaultCurrency">
                                    <sw-inheritance-switch class="sw-product-detail-context-prices__inherited-icon"
                                                           :isInherited="isPriceFieldInherited(item, currency)"
                                                           @inheritance-restore="onInheritanceRestore(item, currency)"
                                                           @inheritance-remove="onInheritanceRemove(item, currency)">
                                    </sw-inheritance-switch>
                                </template>
                            {% endblock %}

                            {% block swag_customized_products_option_type_advanced_surcharges_currency_column_price_field %}
                                <sw-price-field :taxRate="{ id: taxId }"
                                                :price="item.price"
                                                :defaultPrice="findDefaultPriceOfRule(item)"
                                                :currency="currency"
                                                :label="false"
                                                :disableSuffix="true"
                                                :compact="compact">
                                </sw-price-field>
                            {% endblock %}
                        {% endblock %}
                    </template>

                    <template #column-percentageSurcharge="{ item, compact, isInlineEdit }">

                        {% block swag_customized_products_option_type_advanced_surcharges_percentage_surcharge_column %}
                            <sw-number-field v-model="item.percentageSurcharge"
                                             :placeholder="$tc('swag-customized-products.optionDetailModal.optionType.surcharges.relativeLabel')">

                                {% block swag_customized_products_option_type_advanced_surcharges_percentage_surcharge_column_suffix %}
                                    <template #suffix>
                                        <span>&#037;</span>
                                    </template>
                                {% endblock %}
                            </sw-number-field>
                        {% endblock %}
                    </template>

                    <template #actions="{ item }">

                        {% block swag_customized_products_option_type_advanced_surcharges_percentage_surcharge_column_actions_delete %}
                            <sw-context-menu-item variant="danger" @click="removeOptionPrice(item)">
                                {{ $tc('global.default.delete') }}
                            </sw-context-menu-item>
                        {% endblock %}
                    </template>
                </sw-data-grid>
            {% endblock %}
        </div>

        {% block swag_customized_products_option_type_advanced_surcharges_select_price_rule %}
            <sw-entity-single-select
                class="swag-customized-products-option-type-advanced-surcharges__select-price"
                :value="null"
                :popoverConfig="{active: true, resizeWidth: true, style: { zIndex: 1000 }}"
                :placeholder="$tc('swag-customized-products.general.selectRule')"
                entity="rule"
                @change="addOptionPrice">

                <template #result-item="{ isSelected, setValue, item, index, labelProperty, searchTerm, highlightSearchTerm, getKey }">

                    {% block swag_customized_products_option_type_advanced_surcharges_select_price_rule_result %}
                        <li v-bind="{ item, index }"
                            :disabled="isRuleSelected(item.id)"
                            is="sw-select-result"
                            @item-select="setValue">
                            {{ getKey(item, labelProperty) || getKey(item, `translated.${labelProperty}`) }}
                        </li>
                    {% endblock %}
                </template>
            </sw-entity-single-select>
        {% endblock %}
    </div>
{% endblock %}
