{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_main %}
    {% sw_include '@InvHomepageSlideshowPro/InvHomepageSlideshowPro/pagelets/slideshow/slideshow.html.twig' %}
    {{ parent() }}
{% endblock %}

{% block base_header %}
    <div class="header-wrapper">
    {{ parent() }}
{% endblock %}

{% block base_navigation %}
    {{ parent() }}
    </div>
{% endblock %}
