custom/*
phpunit.inv.xml

# Uncomment again, when shopware store plugins can be required via composer
#custom/plugins/*

!custom/plugins/.gitkeep
!custom/static-plugins/*
/schema

# INV unignore project specific files
!custom/plugins/
!custom/plugins/InvKernschmelzeTemplate/
!custom/plugins/InvKernschmelzeTemplate/*
#!custom/plugins/InvTrustBar/ //Now loaded from Shopware store
#!custom/plugins/InvTrustBar/* //Now loaded from Shopware store
!custom/plugins/InvPressBar/
!custom/plugins/InvPressBar/*
!custom/plugins/InvAdvancedCmsElements/
!custom/plugins/InvAdvancedCmsElements/*
!custom/plugins/InvAdvancedCmsBlocks/
!custom/plugins/InvAdvancedCmsBlocks/*
!custom/plugins/InvMixerProduct/
!custom/plugins/InvMixerProduct/*
!custom/plugins/InvMixerBox/
!custom/plugins/InvMixerBox/*
!custom/plugins/InvExportInvoice/
!custom/plugins/InvExportInvoice/*
!custom/plugins/InvExportLabel/
!custom/plugins/InvExportLabel/*
!.gitkeep

_dev/*

/vendor/
/bin/vendor/

/.idea
/docker-compose.override.yml

/config/packages/local.yaml
/config/packages/local.yml

/public/fonts/*
!/public/fonts/.gitkeep
/public/img/*
!/public/img/.gitkeep
/public/css/*
!/public/css/.gitkeep
/public/js/*
!/public/js/.gitkeep
/public/media/*
!/public/media/.gitkeep
/public/theme/*
!/public/theme/.gitkeep
/public/thumbnail/*
!/public/thumbnail/.gitkeep
/public/plugins/*
/public/assets/*
/public/sitemap/*
!/public/sitemap/.gitkeep
/public/bundles/*
!/public/bundles/.gitkeep

/files/*

/platform/
/repos/

.env

.cache/

.envrc

/var/*
!/var/log/.gitkeep
!/var/cache/.gitkeep
!/var/queue/.gitkeep
!/var/test/.gitkeep
!/var/plugins.json
!.gitkeep

