{% block component_cart_customized_products_configuration %}
    <div class="swag-customized-products-cart__configuration">

        {% block component_cart_customized_products_configuration_title %}
            {% sw_include '@Storefront/storefront/component/checkout/_include/cart-configuration-title.html.twig' with {
                'itemCount': items|length,
                'productId': productId
            } %}
        {% endblock %}

        {% block component_cart_customized_products_configuration_items %}
            <div id="collapseCustomizedProductsConfiguration-{{ lineItem.id }}{% if isMainCart %}--isMainCart{% endif %}"
                 class="swag-customized-products-cart__items collapse">
                {% for item in items %}

                    {% block component_cart_customized_products_configuration_item %}
                        {% set labelPriceTag = '' %}
                        {% set selectionItems = [] %}

                        <div class="swag-customized-products-cart__item">
                            {% if item.children|length > 0 %}
                                {% set labelPriceTag = item|customized_product_price_tag %}

                                {% for child in item.children %}
                                    {% set selectionItems = selectionItems|merge([{
                                        'label': child.label,
                                        'tag': child|customized_product_price_tag,
                                        'type': item.payload.type
                                    }]) %}
                                {% endfor %}
                            {% else %}
                                {% if item.payload.type == 'imageupload' or item.payload.type == 'fileupload' %}
                                    {% for file in item.payload.media %}
                                        {% set selectionItems = selectionItems|merge([{
                                            'label': file.filename,
                                            'tag': item|customized_product_price_tag,
                                            'type': item.payload.type
                                        }]) %}
                                    {% endfor %}
                                {% else %}
                                    {% if item.payload.type == 'checkbox' %}
                                        {% set itemLabel = item.label %}
                                    {% elseif item.payload.type == 'datetime' %}
                                        {% set itemLabel = item.payload.value|date('d.m.Y', false) %}
                                    {% elseif item.payload.type == 'timestamp' %}
                                        {% set itemLabel = item.payload.value|date('H:i', false) %}
                                    {% else %}
                                        {% set itemLabel = item.payload.value %}
                                    {% endif %}

                                    {% set selectionItems = [{
                                        'label': itemLabel,
                                        'tag': item|customized_product_price_tag,
                                        'type': item.payload.type
                                    }] %}
                                {% endif %}
                            {% endif %}

                            {% block component_cart_customized_products_configuration_display %}
                                {% sw_include '@Storefront/storefront/component/checkout/_include/cart-configuration-item.html.twig' with {
                                    'labelPriceTag': labelPriceTag,
                                    'label': item.label,
                                    'selectionItems': selectionItems,
                                    'isMainCart': isMainCart
                                } %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endfor %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
