{% block component_cart_customized_products_configuration_title_label %}
    {% if itemCount %}

        {% block component_cart_customized_products_configuration_title_label_link %}
            <a href="#collapseCustomizedProductsConfiguration-{{ lineItem.id }}{% if isMainCart %}--isMainCart{% endif %}"
               class="swag-customized-products-cart__title-link"
               role="button"
               data-toggle="collapse"
               aria-controls="collapseCustomizedProductsConfiguration-{{ lineItem.id }}{% if isMainCart %}--isMainCart{% endif %}"
               aria-expanded="false">

                {% block component_cart_customized_products_configuration_title_label_link_content %}
                    <div class="swag-customized-products-cart__title-container container">
                        <div class="row">

                            {% block component_cart_customized_products_configuration_title_label_link_content_text %}
                                <div class="swag-customized-products-cart__title-toggle col-md-auto h6">
                                    {{ 'customizedProducts.cart.configurationTitle'|trans({
                                        '%count%': itemCount,
                                        '%path%': seoUrl('frontend.detail.page', { 'productId': productId })
                                    })|raw }}
                                </div>
                            {% endblock %}

                            {% block component_cart_customized_products_configuration_title_label_link_content_icon %}
                                <div class="swag-customized-products-cart__title-toggle-icon{% if isMainCart %}--isMainCart{% endif %}
                                            col">

                                    {% block component_cart_customized_products_configuration_title_label_link_content_icon_plus %}
                                        <div class="toggle-icon-plus">
                                            {% sw_icon 'plus' style { 'size': 'xs' } %}
                                        </div>
                                    {% endblock %}

                                    {% block component_cart_customized_products_configuration_title_label_link_content_icon_minus %}
                                        <div class="toggle-icon-minus">
                                            {% sw_icon 'minus' style { 'size': 'xs' } %}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </a>
        {% endblock %}
    {% else %}

        {% block component_cart_customized_products_configuration_title_label_no_config %}
            <div class="swag-customized-products-cart__title-no-config h6">
                {{ 'customizedProducts.cart.configurationTitle'|trans({
                    '%count%': itemCount,
                    '%path%': seoUrl('frontend.detail.page', { 'productId': productId })
                })|raw }}
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}
