{% block swag_customized_products_exclusion_modal %}
    <sw-modal
        v-if="exclusion"
        :title="$tc('swag-customized-products.detail.tabGeneral.cardExclusion.modal.title', !!exclusion.name, {name: exclusion.name})"
        variant="large"
        :isLoading="isLoading"
        @modal-close="onClose">

        {% block swag_customized_products_exclusion_modal_content %}
            <div>
                <sw-text-field
                    v-model="exclusion.name"
                    :label="$tc('swag-customized-products.detail.tabGeneral.cardExclusion.modal.nameLabel')"
                    :error="exclusionNameError"
                    required>
                </sw-text-field>

                <swag-customized-products-condition-tree
                    :templateId="templateId"
                    :exclusionId="exclusion.id"
                    :conditions="exclusion.conditions"
                    :context="context"
                    @delete-condition="deleteCondition">
                </swag-customized-products-condition-tree>
            </div>
        {% endblock %}

        {% block swag_customized_products_exclusion_modal_footer %}
            <template #modal-footer>

                {% block swag_customized_products_exclusion_modal_cancel %}
                    <sw-button size="small"
                               @click="onClose">
                        {{ $tc('global.default.cancel') }}
                    </sw-button>
                {% endblock %}

                {% block swag_customized_products_exclusion_modal_confirm %}
                    <sw-button size="small"
                               variant="primary"
                               @click="onSave">
                        {{ $tc('global.default.save') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}
    </sw-modal>
{% endblock %}