{% block swag_social_shopping_channel_network_base_after %}
    <div class="sw-sales-channel-detail-facebook">
        <sw-card :isLoading="isLoading" :title="$tc('swag-social-shopping.networks.facebook.titleFacebookSettings')">

            {% block swag_social_shopping_channel_network_facebook_include_variants %}
                <sw-switch-field
                    v-model="salesChannel.extensions.socialShoppingSalesChannel.configuration.includeVariants"
                    bordered
                    :label="$tc('swag-social-shopping.networks.facebook.includeVariants')">
                </sw-switch-field>
            {% endblock %}

            {% block swag_social_shopping_channel_network_facebook_interval %}
                <sw-select-number-field
                    v-model="salesChannel.extensions.socialShoppingSalesChannel.configuration.interval"
                    :label="$tc('swag-social-shopping.networks.facebook.interval')"
                    :options="intervalOptions"
                    @change="changeInterval">
                </sw-select-number-field>
            {% endblock %}

            {% block swag_social_shopping_channel_network_facebook_generate_by_cronjob %}
                 <sw-switch-field
                    v-model="salesChannel.extensions.socialShoppingSalesChannel.configuration.generateByCronjob"
                    bordered
                    :disabled="disableGenerateByCronjob"
                    :label="$tc('swag-social-shopping.networks.facebook.generateByCronjob')">
                 </sw-switch-field>
            {% endblock %}

            {% block swag_social_shopping_channel_network_facebook_google_product_cagetory %}
                <sw-text-field
                    v-model="salesChannel.extensions.socialShoppingSalesChannel.configuration.defaultGoogleProductCategory"
                    required
                    :label="$tc('swag-social-shopping.networks.facebook.googleProductDefaultCategory')"
                    :helpText="$tc('swag-social-shopping.networks.facebook.helpTextGoogleProductDefaultCategory')"
                    @change="onGoogleProductCategoryChanged">
                </sw-text-field>

                <sw-container columns="1fr" justify="end" class="sw-sales-channel-detail-facebook__links">
                    <a href="https://support.google.com/merchants/answer/6324436" target="_blank" class="sw-card__quick-link">
                        {{ $tc('swag-social-shopping.networks.facebook.googleProductCategoryLinkLabel') }} <sw-icon name="default-arrow-simple-right" small></sw-icon>
                    </a>
                </sw-container>

                <div v-if="socialShoppingSalesChannelExport">
                    <div v-if="socialShoppingSalesChannelExport.generatedAt" class="sw-sales-channel-detail-base_general__last-generation-text">
                        {{ $tc('sw-sales-channel.detail.productComparison.lastGenerationLabel') }}{{ socialShoppingSalesChannelExport.generatedAt | date({ hour: '2-digit', minute: '2-digit' })  }}
                    </div>
                    <div v-else class="sw-sales-channel-detail-base_general__last-generation-text">
                        {{ $tc('sw-sales-channel.detail.productComparison.lastGenerationLabel') }}{{ $tc('sw-sales-channel.detail.productComparison.notYetGenerated') }}
                    </div>
                </div>
            {% endblock %}
        </sw-card>
    </div>
{% endblock %}
