{% block swag_customized_products_exclusion_delete_modal %}
    <sw-modal :title="$tc('swag-customized-products.detail.tabGeneral.cardExclusion.titleModalDelete')"
              variant="small"
              @modal-close="onExclusionCloseDeleteModal">

        {% block swag_customized_products_exclusion_delete_modal_text %}
            <p class="swag-customized-products-detail-base__confirm-delete-text">
                {{ getModalText }}
            </p>
        {% endblock %}

        {% block swag_customized_products_exclusion_delete_modal_footer %}
        <template #modal-footer>

            {% block swag_customized_products_exclusion_delete_modal_cancel %}
                <sw-button size="small"
                           @click="onExclusionCloseDeleteModal">
                    {{ $tc('global.default.cancel') }}
                </sw-button>
            {% endblock %}

            {% block swag_customized_products_exclusion_delete_modal_confirm %}
                {% block swag_customized_products_exclusion_delete_modal_confirm_single %}
                    <sw-button size="small"
                               variant="primary"
                               @click="onExclusionConfirmDelete">
                        {{ $tc('global.default.delete') }}
                    </sw-button>
                {% endblock %}
            {% endblock %}
        </template>
        {% endblock %}
    </sw-modal>
{% endblock %}