<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Status</title>
        <title lang="de-DE">Status</title>
        <title lang="es-ES">Estado</title>
        <title lang="fr-FR">Statut</title>
        <title lang="nl-NL">Status</title>

        <input-field type="bool">
            <name>status</name>
            <label>Active</label>
            <label lang="de-DE">Aktiv</label>
            <label lang="es-ES">Activado</label>
            <label lang="fr-FR">Actif</label>
            <label lang="nl-NL">Actief</label>
        </input-field>
    </card>

    <card>
        <title>Configuration (values retrieved by Userlike)</title>
        <title lang="de-DE">Konfiguration (von Userlike abgerufene Werte)</title>
        <title lang="es-ES">Configuracion (valores recuperados por Userlike)</title>
        <title lang="fr-FR">Configuration (valeurs récupérées par Userlike)</title>
        <title lang="nl-NL">Configuratie (waarden opgehaald door Userlike)</title>

        <input-field type="text">
            <name>secret</name>
            <label>Secret</label>
            <label lang="de-DE">Secret</label>
            <label lang="es-ES">Secret</label>
            <label lang="fr-FR">Secret</label>
            <label lang="nl-NL">Secret</label>
            <defaultValue></defaultValue>
        </input-field>
    </card>

    <card>
        <title>Do not display on the following URLs</title>
        <title lang="de-DE">Nicht anzeigen auf folgenden URLs</title>
        <title lang="es-ES">No mostrar en los siguientes URLs</title>
        <title lang="fr-FR">Ne pas afficher sur les URL suivants</title>
        <title lang="nl-NL">Niet weergeven op de volgende URL's</title>

        <input-field type="textarea">
            <name>noDisplayUrls</name>
            <label>URLs</label>
            <label lang="de-DE">URLs</label>
            <label lang="es-ES">URLs</label>
            <label lang="fr-FR">URLs</label>
            <label lang="nl-NL">URLs</label>
            <defaultValue># Example: /checkout/*</defaultValue>
            <helpText>Enter here the URLs for which the chat should not be displayed (one selector per line, wildcards (*) possible).</helpText>
            <helpText lang="de-DE">Gib hier die URLs ein, für die der Chat nicht angezeigt werden soll (ein Selektor pro Zeile, Wildcards (*) möglich).</helpText>
            <helpText lang="es-ES">Introduzca aquí las URL para las que no debe mostrarse el chat (un selector por línea, es posible utilizar comodines (*)).</helpText>
            <helpText lang="fr-FR">Saisissez ici les URL pour lesquelles le chat ne doit pas être affiché (un sélecteur par ligne, jokers (*) possibles).</helpText>
            <helpText lang="nl-NL">Voer hier de URL's in waarvoor de chat niet mag worden weergegeven (één selector per regel, jokertekens (*) mogelijk).</helpText>
        </input-field>
    </card>
</config>
