{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

{% set customizedProductsTemplate = page.product.extensions.swagCustomizedProductsTemplate %}

{% block page_product_detail_ordernumber_container %}
    {{ parent() }}

    {% if customizedProductsTemplate and customizedProductsTemplate.active %}
        <div class="swag-customized-products__price-label-notice">
            {{ "customizedProducts.priceLabelNotice"|trans }}
        </div>
    {% endif %}
{% endblock %}
