<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Status</title>
        <title lang="de-DE">Status</title>
        <title lang="es-ES">Estado</title>
        <title lang="fr-FR">Statut</title>
        <title lang="nl-NL">Status</title>

        <input-field type="bool">
            <name>status</name>
            <label>Active</label>
            <label lang="de-DE">Aktiv</label>
            <label lang="es-ES">Activado</label>
            <label lang="fr-FR">Actif</label>
            <label lang="nl-NL">Actief</label>
        </input-field>
    </card>

    <card>
        <title>Configuration (values retrieved by Belboon)</title>
        <title lang="de-DE">Konfiguration (von Belboon abgerufene Werte)</title>
        <title lang="es-ES">Configuracion (valores recuperados por Belboon)</title>
        <title lang="fr-FR">Configuration (valeurs récupérées par Belboon)</title>
        <title lang="nl-NL">Configuratie (waarden opgehaald door Belboon)</title>

        <input-field type="text">
            <name>publisherId</name>
            <label>Publisher ID</label>
            <label lang="de-DE">Publisher ID</label>
            <label lang="es-ES">Publisher ID</label>
            <label lang="fr-FR">Publisher ID</label>
            <label lang="nl-NL">Publisher ID</label>
            <defaultValue></defaultValue>
        </input-field>

        <input-field type="text">
            <name>advertiserId</name>
            <label>Advertiser ID</label>
            <label lang="de-DE">Advertiser ID</label>
            <label lang="es-ES">Advertiser ID</label>
            <label lang="fr-FR">Advertiser ID</label>
            <label lang="nl-NL">Advertiser ID</label>
            <defaultValue></defaultValue>
        </input-field>

        <input-field type="text">
            <name>trcDomain</name>
            <label>Tracking domain</label>
            <label lang="de-DE">Tracking domain</label>
            <label lang="es-ES">Tracking domain</label>
            <label lang="fr-FR">Tracking domain</label>
            <label lang="nl-NL">Tracking domain</label>
            <defaultValue>luna.r.lafamo.com</defaultValue>
        </input-field>

        <input-field type="text">
            <name>currency</name>
            <label>Currency (EUR, GBP, CHF, ...)</label>
            <label lang="de-DE">Währung (EUR, GBP, CHF, ...)</label>
            <label lang="es-ES">Moneda (EUR, GBP, CHF, ...)</label>
            <label lang="fr-FR">Monnaie (EUR, GBP, CHF, ...)</label>
            <label lang="nl-NL">Valuta (EUR, GBP, CHF, ...)</label>
            <defaultValue>EUR</defaultValue>
        </input-field>
    </card>
</config>
