<div class="col-md-4 footer-column js-footer-column">
    {% block inv_kernschmelze_template_layout_footer_navigation_kernenergie_group %}
        <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
             id="collapseFooterKernenergieGroup"
             data-target="#collapseFooterKernenergieGroup"
             aria-expanded="true"
             aria-controls="collapseFooterKernenergieGroup">
            <span class="mobile">{{ 'InvKernschmelzeTemplate.footer.headlines.kernenergieGroupHeadline'|trans|sw_sanitize }}</span>
            {% block inv_kernschmelze_template_layout_footer_navigation_social_networks_icons %}
                <div class="footer-column-toggle">
                                    <span class="footer-plus-icon">
                                        {% sw_icon 'plus' %}
                                    </span>
                    <span class="footer-minus-icon">
                                        {% sw_icon 'minus' %}
                                    </span>
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block layout_footer_navigation_kernenergie_group_content %}
        <div id="collapseFooterKernenergieGroup"
             class="footer-column-content collapse js-footer-column-content footer-contact"
             aria-labelledby="collapseFooterKernenergieGroupTitle">
            <div class="footer-column-content-inner">
                <p class="footer-kernenergie-group">
                    <a href="https://kern-energie.com" target="_blank" title="KERNenergie">
                        <img src="../../bundles/invkernschmelzetemplate/storefront/images/logo-kernenergie-group.svg" alt="KERNenergie Group" class="logo" />
                        {{ 'InvKernschmelzeTemplate.footer.contents.kernenergiegroup'|trans|sw_sanitize }}
                    </a>
                </p>
            </div>
        </div>
    {% endblock %}
</div>
