<div class="col-md-4 footer-column js-footer-column">
    {% block inv_kernschmelze_template_layout_footer_navigation_payment_methods %}
        <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
             id="collapseFooterPaymentMethods"
             data-target="#collapseFooterPaymentMethods"
             aria-expanded="true"
             aria-controls="collapseFooterPaymentMethods">
            {{ 'InvKernschmelzeTemplate.footer.paymentMethodsHeadline'|trans|sw_sanitize }}
            {% block inv_kernschmelze_template_layout_footer_navigation_payment_methods_icons %}
                <div class="footer-column-toggle">
                                    <span class="footer-plus-icon">
                                        {% sw_icon 'plus' %}
                                    </span>
                    <span class="footer-minus-icon">
                                        {% sw_icon 'minus' %}
                                    </span>
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block layout_footer_navigation_hotline_content %}
        <div id="collapseFooterPaymentMethods"
             class="footer-column-content collapse js-footer-column-content footer-contact"
             aria-labelledby="collapseFooterPaymentMethodsTitle">
            <div class="footer-column-content-inner">
                <p class="footer-payment-methods">
                    {{ 'InvKernschmelzeTemplate.footer.freeShippingInfo'|trans|sw_sanitize }}
                </p>
            </div>
        </div>
    {% endblock %}
</div>
