{% block layout_footer_socials %}
    <p class="footer-social-networks">
        {{ 'InvKernschmelzeTemplate.footer.contents.socialnetworks'|trans|sw_sanitize }}
        <a href="https://www.facebook.com/kernschmelze.kernenergie" target="_blank"><img src="../../bundles/invkernschmelzetemplate/storefront/images/icon-facebook.svg" alt="Facebook" class="icon-network" /></a>
        <a href="https://instagram.com/kernschmelze" target="_blank"><img src="../../bundles/invkernschmelzetemplate/storefront/images/icon-instagram.svg" alt="Instagram" class="icon-network" /></a>
    </p>
{% endblock %}
