{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% block component_product_box_action_detail %}
    <div class="swag-cms-extensions-quickview-listing-button-detail">
        {{ parent() }}
    </div>
{% endblock %}
