{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% set quickview = block.extensions.swagCmsExtensionsQuickview %}

{% set productIsActive = product is not null and product.active %}
{% set quickviewIsActive = quickview is not null and quickview.active %}

{% block component_product_box %}
    {% if productIsActive and quickviewIsActive %}
        <div data-swag-cms-extensions-quickview-box="true"
             data-swag-cms-extensions-quickview-box-options='{"productId": "{{ product.id }}", "sectionId": "{{ block.sectionId }}"}'>
            {{ parent() }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
