{# @var item \InvExportLabel\Value\SourceItemType\SimpleProductSourceItem #}
<div class="container">
    <div class="wrapper">
        <p class="mix-name">
            {{ item.productName }}
        </p>
        <p>
            Zutaten: {{ item.ingredients|join(', ') }}
        </p>
        <p class="disclaimer">
            <strong>
                Kann Spuren enthalten von anderen Nüssen, Ei,
                glutenhaltigem Getreide, Sesam, Sulfit.
            </strong> Vor Wärme schützen und trocken lagern.
        </p>
        <p class="best-and-weight">
            <span class="best-before">Mindestens haltbar bis: {{ item.bestBeforeDate | date("d.m.Y") }}</span>
            <span class="weight">{{ item.weight }}</span>
        </p>
        <p class="address">
            KERNenergie GmbH · Grundtalring 23 · D-63868 Großwallstadt <br/>
            www.kern-energie.com www.kern-schmelze.com
        </p>
    </div>
</div>

