{% block sw_cms_element_two-cols-text-image_preview %}
    <div class="sw-cms-el-preview-two-cols-text-image">
        <img class="sw-cms-el-preview-two-cols-text-image-img" :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">

        <sw-icon class="sw-cms-el-preview-two-cols-text-image-play" name="multicolor-action-play"></sw-icon>
    </div>
{% endblock %}
