{% block swag_customized_products_option_tree_content %}
    <div v-if="data" class="swag-customized-products-option-tree-content" :key="data.id">

        {% block swag_customized_products_option_tree_content_root %}
            <template v-if="data.isRoot">

                {% block swag_customized_products_option_tree_content_root_header %}
                    <swag-customized-products-option-type-header
                        :option="option"
                        :data="data">
                    </swag-customized-products-option-type-header>
                {% endblock %}

                {% block swag_customized_products_option_tree_content_root_slot %}
                    <slot name="root-content" :data="data">
                    </slot>
                {% endblock %}
            </template>
        {% endblock %}

        {% block swag_customized_products_option_tree_content_form %}
            <div v-else class="swag-customized-products-tree-content__fields">

                {% block swag_customized_products_option_tree_content_form_name %}
                    <sw-text-field
                        v-model="data.displayName"
                        :label="$tc('swag-customized-products.optionDetailModal.optionType.nameLabel')"
                        :placeholder="$tc('swag-customized-products.detail.tabGeneral.placeholderDisplayName')"
                        :error="dataDisplayNameError"
                        required>
                    </sw-text-field>
                {% endblock %}

                {% block swag_customized_products_option_tree_content_form_item_number %}
                    <sw-text-field
                        v-model="data.itemNumber"
                        :placeholder="$tc('swag-customized-products.optionDetailModal.optionType.placeholderItemNumber')"
                        :label="$tc('swag-customized-products.optionDetailModal.optionType.itemNumberLabel')"
                        :helpText="$tc('swag-customized-products.optionDetailModal.optionType.itemNumberHelpText')">
                    </sw-text-field>
                {% endblock %}

                {% block swag_customized_products_option_tree_content_form_slot %}
                    <slot name="content" :data="data">
                        {{ warn('Please implement an editing form for this option type') }}
                    </slot>
                {% endblock %}
            </div>
        {% endblock %}

        {% block swag_customized_products_option_tree_content_form_is_multi_select %}
            <sw-checkbox-field
                v-if="data.isRoot"
                class="swag_customized_products_option_tree_content_form--is_multi_select"
                :value="option.typeProperties.isMultiSelect"
                :label="$tc('swag-customized-products.optionDetailModal.optionType.select.isMultiSelectLabel')"
                v-tooltip="multiSelectToolTip"
                :disabled="option.templateExclusionConditions.length > 0"
                @change="changeMultiSelect">
            </sw-checkbox-field>
        {% endblock %}

        {% block swag_customized_products_option_tree_content_form_surcharges %}
            <swag-customized-products-option-type-surcharges
                :value="visibleValue"
                :versionContext="versionContext"
                @prices-add="addPriceRule"
                @price-add="addPrice"
                @prices-remove="removePriceRule">
            </swag-customized-products-option-type-surcharges>
        {% endblock %}
    </div>
{% endblock %}
