{% sw_extends '@SwagCustomizedProducts/storefront/component/customized-products/option-type/select/checkboxes.html.twig' %}

{% block swag_customized_products_option_type_template_select_input_list_radio_options_label %}
    <label class="custom-control-label forms-boolean-label swag-customized-products-option-type-select-checkboxes-label"
           for="swag-customized-products-option-id-{{ optionValue.id }}">

        {% block swag_customized_products_option_type_template_select_input_list_radio_options_label_image %}
            <span class="swag-customized-products-option-type-select-checkboxes-label-property-image swag-customized-products-image-zoom"
                  data-swag-customized-products-image-zoom="{% if optionValue.getValue._value %}true{% else %}false{% endif %}">
                {% if optionValue.getValue._value %}
                    <img src="{{ searchMedia([optionValue.getValue._value], context.getContext).first()|sw_encode_media_url }}"
                         class="swag-customized-products-option__image rounded"
                         alt="{{ optionValue.displayName }}"/>

                    {% block swag_customized_products_option_type_template_select_input_image_zoom_icon_open %}
                        {% sw_icon 'editor-expand' %}
                    {% endblock %}

                    {% block swag_customized_products_option_type_template_select_input_image_zoom_template %}
                        <div class="swag-customized-products-image-zoom__template">

                            {% block swag_customized_products_option_type_template_select_input_image_zoom_wrapper %}
                                <div class="swag-customized-products-image-zoom__wrapper">

                                    {% block swag_customized_products_option_type_template_select_input_image_zoom_content %}
                                        <figure class="swag-customized-products-image-zoom__content">

                                            {% block swag_customized_products_option_type_template_select_input_image_zoom_icon_close %}
                                                <button class="swag-customized-products-image-zoom__icon-close">
                                                    {% sw_icon 'x' %}
                                                </button>
                                            {% endblock %}

                                            {% block swag_customized_products_option_type_template_select_input_image_zoom_image %}
                                                <img class="swag-customized-products-image-zoom__image" />
                                            {% endblock %}

                                            {% block swag_customized_products_option_type_template_select_input_image_zoom_caption %}
                                                <figcaption class="swag-customized-products-image-zoom__caption"></figcaption>
                                            {% endblock %}
                                        </figure>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endif %}
            </span>
        {% endblock %}

        {% block swag_customized_products_option_type_template_select_input_list_radio_options_label_name %}
            <span class="swag-customized-products-option-type-select-checkboxes-label-property">
                {{ optionValue.translated.displayName }}
            </span>
        {% endblock %}

        {% block swag_customized_products_option_type_template_select_input_list_radio_options_label_surcharge_info %}
            <div class="swag-customized-products-option-type-select-checkboxes-label-surcharge-info">
                <span>
                    {% sw_include '@SwagCustomizedProducts/storefront/component/customized-products/_include/price-label.html.twig' with {
                        value: optionValue
                    } %}
                </span>
            </div>
        {% endblock %}
    </label>
{% endblock %}

{% block swag_customized_products_option_type_template_select_input_list_radio_no_selection_content %}
    <div class="swag-customized-products-option-type-select-checkboxes-label-property-bubble no-selection">
        <div class="swag-customized-products__no-selection-icon img-fluid">
            {% sw_icon 'blocked' %}
        </div>
    </div>
{% endblock %}

{% block swag_customized_products_option_type_template_select_input_list_radio_options_price_tag %}
{% endblock %}
