{% block swag_customized_products_option_tree %}
    <div class="swag-customized-products-option-tree">
        <template v-if="!isLoading">

            {% block swag_customized_products_option_tree_root_element %}
                <swag-customized-products-option-tree-item
                    :item="rootElement"
                    :isRootElement="true"
                    :isEditing="false"
                    :isActive="rootElement.id === activeItemId"
                    :isCreating="!!currentEditingId"
                    :isLoading="isLoading"
                    @new-element-create="onCreateNewElement"
                    @active-item-set="onSetActiveItem">
                </swag-customized-products-option-tree-item>
            {% endblock %}

            {% block swag_customized_products_option_tree_sub_elements %}
                <swag-customized-products-option-tree-item
                    v-for="optionValue in optionValues"
                    class="swag-customized-products-option-tree__element-sub"
                    :key="optionValue.id"
                    :item="optionValue"
                    :isRootElement="false"
                    :isEditing="optionValue.id === currentEditingId"
                    :isActive="optionValue.id === activeItemId"
                    :isLoading="isLoading"
                    @new-element-create="onCreateNewElement"
                    @display-name-edit="onEditDisplayName"
                    @display-name-start-editing="onStartInlineEditing"
                    @create-item-abort="onCreateItemAbort"
                    @create-item-blur="onCreateItemBlur"
                    @active-item-set="onSetActiveItem"
                    @item-delete="onDeleteItem">
                </swag-customized-products-option-tree-item>
            {% endblock %}
        </template>

        {% block swag_customized_products_option_tree_loader %}
            <sw-loader v-else></sw-loader>
        {% endblock %}
    </div>
{% endblock %}
