<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Status</title>
        <title lang="de-DE">Status</title>
        <title lang="es-ES">Estado</title>
        <title lang="fr-FR">Statut</title>
        <title lang="nl-NL">Status</title>

        <input-field type="bool">
            <name>status</name>
            <label>Active</label>
            <label lang="de-DE">Aktiv</label>
            <label lang="es-ES">Activado</label>
            <label lang="fr-FR">Actif</label>
            <label lang="nl-NL">Actief</label>
        </input-field>
    </card>

    <card>
        <title>Slide 1</title>
        <title lang="de-DE">Slide 1</title>
        <title lang="es-ES">Slide 1</title>
        <title lang="fr-FR">Slide 1</title>
        <title lang="nl-NL">Slide 1</title>

        <input-field type="textarea">
            <name>slide1</name>
            <label>Text</label>
            <label lang="de-DE">Text</label>
            <label lang="es-ES">Texto</label>
            <label lang="fr-FR">Texte</label>
            <label lang="nl-NL">Tekst</label>
            <defaultValue>Large selection</defaultValue>
        </input-field>

        <component name="sw-media-field">
            <name>image1</name>
            <label>Image (384 x 500px, .png, .jpg)</label>
            <label lang="de-DE">Bild (384 x 500px, .png, .jpg)</label>
            <label lang="es-ES">Imagen (384 x 500px, .png, .jpg)</label>
            <label lang="fr-FR">Photo (384 x 500px, .png, .jpg)</label>
            <label lang="nl-NL">Afbeelding (384 x 500px, .png, .jpg)</label>
            <helpText>Ideally this is a .jpg-file with the measures 384 x 500px.</helpText>
            <helpText lang="de-DE">Idealerweise ist dies eine .jpg-Datei mit den Maßen 384 x 500px.</helpText>
            <helpText lang="es-ES">Idealmente este es un archivo .jpg con las dimensiones 384 x 500px.</helpText>
            <helpText lang="fr-FR">Idéalement, il s'agit d'un fichier .jpg de dimensions 384 x 500px.</helpText>
            <helpText lang="nl-NL">Idealiter is het een .jpg bestand met de afmetingen 384 x 500px.</helpText>
        </component>

        <component name="sw-media-field">
            <name>image11</name>
            <label>Image (384 x 500px, .png, .jpg)</label>
            <label lang="de-DE">Bild (384 x 500px, .png, .jpg)</label>
            <label lang="es-ES">Imagen (384 x 500px, .png, .jpg)</label>
            <label lang="fr-FR">Photo (384 x 500px, .png, .jpg)</label>
            <label lang="nl-NL">Afbeelding (384 x 500px, .png, .jpg)</label>
            <helpText>Ideally this is a .jpg-file with the measures 384 x 500px.</helpText>
            <helpText lang="de-DE">Idealerweise ist dies eine .jpg-Datei mit den Maßen 384 x 500px.</helpText>
            <helpText lang="es-ES">Idealmente este es un archivo .jpg con las dimensiones 384 x 500px.</helpText>
            <helpText lang="fr-FR">Idéalement, il s'agit d'un fichier .jpg de dimensions 384 x 500px.</helpText>
            <helpText lang="nl-NL">Idealiter is het een .jpg bestand met de afmetingen 384 x 500px.</helpText>
        </component>
    </card>

    <card>
        <title>Slide 2</title>
        <title lang="de-DE">Slide 2</title>
        <title lang="es-ES">Slide 2</title>
        <title lang="fr-FR">Slide 2</title>
        <title lang="nl-NL">Slide 2</title>

        <input-field type="textarea">
            <name>slide2</name>
            <label>Text</label>
            <label lang="de-DE">Text</label>
            <label lang="es-ES">Texto</label>
            <label lang="fr-FR">Texte</label>
            <label lang="nl-NL">Tekst</label>
            <defaultValue>Large selection</defaultValue>
        </input-field>

        <component name="sw-media-field">
            <name>image2</name>
            <label>Image (384 x 500px, .png, .jpg)</label>
            <label lang="de-DE">Bild (384 x 500px, .png, .jpg)</label>
            <label lang="es-ES">Imagen (384 x 500px, .png, .jpg)</label>
            <label lang="fr-FR">Photo (384 x 500px, .png, .jpg)</label>
            <label lang="nl-NL">Afbeelding (384 x 500px, .png, .jpg)</label>
            <helpText>Ideally this is a .jpg-file with the measures 384 x 500px.</helpText>
            <helpText lang="de-DE">Idealerweise ist dies eine .jpg-Datei mit den Maßen 384 x 500px.</helpText>
            <helpText lang="es-ES">Idealmente este es un archivo .jpg con las dimensiones 384 x 500px.</helpText>
            <helpText lang="fr-FR">Idéalement, il s'agit d'un fichier .jpg de dimensions 384 x 500px.</helpText>
            <helpText lang="nl-NL">Idealiter is het een .jpg bestand met de afmetingen 384 x 500px.</helpText>
        </component>

        <component name="sw-media-field">
            <name>image22</name>
            <label>Image (384 x 500px, .png, .jpg)</label>
            <label lang="de-DE">Bild (384 x 500px, .png, .jpg)</label>
            <label lang="es-ES">Imagen (384 x 500px, .png, .jpg)</label>
            <label lang="fr-FR">Photo (384 x 500px, .png, .jpg)</label>
            <label lang="nl-NL">Afbeelding (384 x 500px, .png, .jpg)</label>
            <helpText>Ideally this is a .jpg-file with the measures 384 x 500px.</helpText>
            <helpText lang="de-DE">Idealerweise ist dies eine .jpg-Datei mit den Maßen 384 x 500px.</helpText>
            <helpText lang="es-ES">Idealmente este es un archivo .jpg con las dimensiones 384 x 500px.</helpText>
            <helpText lang="fr-FR">Idéalement, il s'agit d'un fichier .jpg de dimensions 384 x 500px.</helpText>
            <helpText lang="nl-NL">Idealiter is het een .jpg bestand met de afmetingen 384 x 500px.</helpText>
        </component>
    </card>

    <card>
        <title>Slide 3</title>
        <title lang="de-DE">Slide 3</title>
        <title lang="es-ES">Slide 3</title>
        <title lang="fr-FR">Slide 3</title>
        <title lang="nl-NL">Slide 3</title>

        <input-field type="textarea">
            <name>slide3</name>
            <label>Text</label>
            <label lang="de-DE">Text</label>
            <label lang="es-ES">Texto</label>
            <label lang="fr-FR">Texte</label>
            <label lang="nl-NL">Tekst</label>
            <defaultValue>Large selection</defaultValue>
        </input-field>

        <component name="sw-media-field">
            <name>image3</name>
            <label>Image (384 x 500px, .png, .jpg)</label>
            <label lang="de-DE">Bild (384 x 500px, .png, .jpg)</label>
            <label lang="es-ES">Imagen (384 x 500px, .png, .jpg)</label>
            <label lang="fr-FR">Photo (384 x 500px, .png, .jpg)</label>
            <label lang="nl-NL">Afbeelding (384 x 500px, .png, .jpg)</label>
            <helpText>Ideally this is a .jpg-file with the measures 384 x 500px.</helpText>
            <helpText lang="de-DE">Idealerweise ist dies eine .jpg-Datei mit den Maßen 384 x 500px.</helpText>
            <helpText lang="es-ES">Idealmente este es un archivo .jpg con las dimensiones 384 x 500px.</helpText>
            <helpText lang="fr-FR">Idéalement, il s'agit d'un fichier .jpg de dimensions 384 x 500px.</helpText>
            <helpText lang="nl-NL">Idealiter is het een .jpg bestand met de afmetingen 384 x 500px.</helpText>
        </component>

        <component name="sw-media-field">
            <name>image33</name>
            <label>Image (384 x 500px, .png, .jpg)</label>
            <label lang="de-DE">Bild (384 x 500px, .png, .jpg)</label>
            <label lang="es-ES">Imagen (384 x 500px, .png, .jpg)</label>
            <label lang="fr-FR">Photo (384 x 500px, .png, .jpg)</label>
            <label lang="nl-NL">Afbeelding (384 x 500px, .png, .jpg)</label>
            <helpText>Ideally this is a .jpg-file with the measures 384 x 500px.</helpText>
            <helpText lang="de-DE">Idealerweise ist dies eine .jpg-Datei mit den Maßen 384 x 500px.</helpText>
            <helpText lang="es-ES">Idealmente este es un archivo .jpg con las dimensiones 384 x 500px.</helpText>
            <helpText lang="fr-FR">Idéalement, il s'agit d'un fichier .jpg de dimensions 384 x 500px.</helpText>
            <helpText lang="nl-NL">Idealiter is het een .jpg bestand met de afmetingen 384 x 500px.</helpText>
        </component>
    </card>

    <card>
        <title>Slide 4</title>
        <title lang="de-DE">Slide 4</title>
        <title lang="es-ES">Slide 4</title>
        <title lang="fr-FR">Slide 4</title>
        <title lang="nl-NL">Slide 4</title>

        <input-field type="textarea">
            <name>slide4</name>
            <label>Text</label>
            <label lang="de-DE">Text</label>
            <label lang="es-ES">Texto</label>
            <label lang="fr-FR">Texte</label>
            <label lang="nl-NL">Tekst</label>
            <defaultValue>Large selection</defaultValue>
        </input-field>

        <component name="sw-media-field">
            <name>image4</name>
            <label>Image (384 x 500px, .png, .jpg)</label>
            <label lang="de-DE">Bild (384 x 500px, .png, .jpg)</label>
            <label lang="es-ES">Imagen (384 x 500px, .png, .jpg)</label>
            <label lang="fr-FR">Photo (384 x 500px, .png, .jpg)</label>
            <label lang="nl-NL">Afbeelding (384 x 500px, .png, .jpg)</label>
            <helpText>Ideally this is a .jpg-file with the measures 384 x 500px.</helpText>
            <helpText lang="de-DE">Idealerweise ist dies eine .jpg-Datei mit den Maßen 384 x 500px.</helpText>
            <helpText lang="es-ES">Idealmente este es un archivo .jpg con las dimensiones 384 x 500px.</helpText>
            <helpText lang="fr-FR">Idéalement, il s'agit d'un fichier .jpg de dimensions 384 x 500px.</helpText>
            <helpText lang="nl-NL">Idealiter is het een .jpg bestand met de afmetingen 384 x 500px.</helpText>
        </component>

        <component name="sw-media-field">
            <name>image44</name>
            <label>Image (384 x 500px, .png, .jpg)</label>
            <label lang="de-DE">Bild (384 x 500px, .png, .jpg)</label>
            <label lang="es-ES">Imagen (384 x 500px, .png, .jpg)</label>
            <label lang="fr-FR">Photo (384 x 500px, .png, .jpg)</label>
            <label lang="nl-NL">Afbeelding (384 x 500px, .png, .jpg)</label>
            <helpText>Ideally this is a .jpg-file with the measures 384 x 500px.</helpText>
            <helpText lang="de-DE">Idealerweise ist dies eine .jpg-Datei mit den Maßen 384 x 500px.</helpText>
            <helpText lang="es-ES">Idealmente este es un archivo .jpg con las dimensiones 384 x 500px.</helpText>
            <helpText lang="fr-FR">Idéalement, il s'agit d'un fichier .jpg de dimensions 384 x 500px.</helpText>
            <helpText lang="nl-NL">Idealiter is het een .jpg bestand met de afmetingen 384 x 500px.</helpText>
        </component>
    </card>

    <card>
        <title>Slide 5</title>
        <title lang="de-DE">Slide 5</title>
        <title lang="es-ES">Slide 5</title>
        <title lang="fr-FR">Slide 5</title>
        <title lang="nl-NL">Slide 5</title>

        <input-field type="textarea">
            <name>slide5</name>
            <label>Text</label>
            <label lang="de-DE">Text</label>
            <label lang="es-ES">Texto</label>
            <label lang="fr-FR">Texte</label>
            <label lang="nl-NL">Tekst</label>
            <defaultValue>Large selection</defaultValue>
        </input-field>

        <component name="sw-media-field">
            <name>image5</name>
            <label>Image (384 x 500px, .png, .jpg)</label>
            <label lang="de-DE">Bild (384 x 500px, .png, .jpg)</label>
            <label lang="es-ES">Imagen (384 x 500px, .png, .jpg)</label>
            <label lang="fr-FR">Photo (384 x 500px, .png, .jpg)</label>
            <label lang="nl-NL">Afbeelding (384 x 500px, .png, .jpg)</label>
            <helpText>Ideally this is a .jpg-file with the measures 384 x 500px.</helpText>
            <helpText lang="de-DE">Idealerweise ist dies eine .jpg-Datei mit den Maßen 384 x 500px.</helpText>
            <helpText lang="es-ES">Idealmente este es un archivo .jpg con las dimensiones 384 x 500px.</helpText>
            <helpText lang="fr-FR">Idéalement, il s'agit d'un fichier .jpg de dimensions 384 x 500px.</helpText>
            <helpText lang="nl-NL">Idealiter is het een .jpg bestand met de afmetingen 384 x 500px.</helpText>
        </component>

        <component name="sw-media-field">
            <name>image55</name>
            <label>Image (384 x 500px, .png, .jpg)</label>
            <label lang="de-DE">Bild (384 x 500px, .png, .jpg)</label>
            <label lang="es-ES">Imagen (384 x 500px, .png, .jpg)</label>
            <label lang="fr-FR">Photo (384 x 500px, .png, .jpg)</label>
            <label lang="nl-NL">Afbeelding (384 x 500px, .png, .jpg)</label>
            <helpText>Ideally this is a .jpg-file with the measures 384 x 500px.</helpText>
            <helpText lang="de-DE">Idealerweise ist dies eine .jpg-Datei mit den Maßen 384 x 500px.</helpText>
            <helpText lang="es-ES">Idealmente este es un archivo .jpg con las dimensiones 384 x 500px.</helpText>
            <helpText lang="fr-FR">Idéalement, il s'agit d'un fichier .jpg de dimensions 384 x 500px.</helpText>
            <helpText lang="nl-NL">Idealiter is het een .jpg bestand met de afmetingen 384 x 500px.</helpText>
        </component>
    </card>

    <!--<card>
        <title>Colors (compile theme if changed)</title>
        <title lang="de-DE">Farben (Theme kompilieren, wenn Werte geändert werden)</title>
        <title lang="es-ES">Colores (compilar theme si se cambia los valores)</title>
        <title lang="fr-FR">Couleurs (compiler le thème si les valeurs sont modifiées)</title>
        <title lang="nl-NL">Kleuren (Thema compileren als waarden worden gewijzigd)</title>

        <component name="sw-colorpicker">
            <name>arrowColor</name>
            <colorOutput>hex</colorOutput>
            <label>Arrow color</label>
            <label lang="de-DE">Pfeilfarbe</label>
            <label lang="es-ES">Color de flechas</label>
            <label lang="fr-FR">Couleur des flèches</label>
            <label lang="nl-NL">Pijlkleur</label>
            <defaultValue>#000000</defaultValue>
        </component>

        <component name="sw-colorpicker">
            <name>textColor</name>
            <colorOutput>hex</colorOutput>
            <label>Text color</label>
            <label lang="de-DE">Textfarbe</label>
            <label lang="es-ES">Color del texto</label>
            <label lang="fr-FR">Couleur du texte</label>
            <label lang="nl-NL">Tekstkleur</label>
            <defaultValue>#000000</defaultValue>
        </component>
    </card>-->

    <card>
        <title>Dimensions</title>
        <title lang="de-DE">Maße</title>
        <title lang="es-ES">Medidas</title>
        <title lang="fr-FR">Dimensions</title>
        <title lang="nl-NL">Afmetingen</title>

        <input-field type="text">
            <name>minHeight</name>
            <label>Minimum height (e.g. 500px)</label>
            <label lang="de-DE">Mindest-Höhe (z.B. 500px)</label>
            <label lang="es-ES">Altura mínima (p.e. 500px)</label>
            <label lang="fr-FR">Hauteur minimale (p.e. 500px)</label>
            <label lang="nl-NL">Minimale hoogte (b.v. 500px)</label>
            <defaultValue>500px</defaultValue>
        </input-field>
    </card>
</config>
