{%  if page.product.translated.customFields.custom_product_data_benefits is not empty %}
    {% set benefits = page.product.translated.customFields.custom_product_data_benefits %}

    <ul class="product-detail-benefits d-flex flex-wrap align-items-center">
        {% for benefit in benefits %}
            {% set benefitText = "InvKernschmelzeTemplate.benefits."~benefit %}
            <li class="benefit {{ benefit }}"><span></span>{{ benefitText|trans }}</li>
        {% endfor %}
    </ul>
{% endif %}
