{% block swag_customized_products_option_type_template_colorselect %}
    <div class="swag-customized-products-option-type-select-wrapper">
        {% sw_include fileName ~ '/selections.html.twig' %}
    </div>
{% endblock %}
