{% block swag_customized_products_option_type_template_option %}
    <div class="form-row swag-customized-products-option swag-customized-products__item" data-name="{{ option.translated.displayName }}">
        <div class="form-group col-12">

            {% block swag_customized_products_option_type_template_option_label %}
                {% set titleTemplate = '@SwagCustomizedProducts/storefront/component/customized-products/_include/title.html.twig' %}

                {% if isStepByStep %}
                    {% set titleTemplate = '@SwagCustomizedProducts/storefront/component/customized-products/_include/title-step-by-step.html.twig' %}
                {% endif %}

                {% sw_include titleTemplate with {
                    value: option
                } %}
            {% endblock %}

            {% block swag_customized_products_option_type_template_option_input %}
                <div id="collapseCustomizedProductsConfigurationOption-{{ option.id }}"
                     {% if not isStepByStep %}class="collapse"{% endif %}>

                    {% block swag_customized_products_option_type_template_option_input_card %}
                        <div class="card">

                            {% block swag_customized_products_option_type_template_option_input_card_description %}
                                <div class="swag-customized-products-configuration__description">
                                    {{ option.description|raw }}
                                </div>
                            {% endblock %}

                            {% block swag_customized_products_option_type_template_option_input_card_items %}
                                <div class="swag-customized-products-configuration__items swag-customized-products__type-{{ option.type }}">
                                    {% sw_include optionTemplate ignore missing with {
                                        'template': customizedProductsTemplate,
                                        'option': option,
                                        'optionValues': option.values.elements
                                    } %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
