<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title> (Mixer Product) </title>
        <title lang="de-DE">Produktmixer</title>
        <input-field type="int">
            <name>mixerProductBestBeforeMonths</name>
            <label>Best Before Months Add</label>
            <label lang="de-DE">MHD (+ in Monaten)</label>
            <placeholder>5</placeholder>
        </input-field>

        <input-field type="multi-select">
            <name>mixerProductFilterOrderState</name>
            <options>
                <option>
                    <id>{"order":"open","orderTransaction":"open","orderDelivery":"open"}</id>
                    <name>Order:open, Transaction:open, Delivery:open</name>
                </option>
                <option>
                    <id>{"order":"open","orderTransaction":"open","orderDelivery":"shipped_partially"}</id>
                    <name>Order:open, Transaction:open, Delivery:shipped_partially</name>
                </option>
                <option>
                    <id>{"order":"open","orderTransaction":"open","orderDelivery":"shipped"}</id>
                    <name>Order:open, Transaction:open, Delivery:shipped</name>
                </option>
                <option>
                    <id>{"order":"open","orderTransaction":"paid","orderDelivery":"open"}</id>
                    <name>Order:open, Transaction:paid, Delivery:open</name>
                </option>
                <option>
                    <id>{"order":"open","orderTransaction":"paid","orderDelivery":"shipped_partially"}</id>
                    <name>Order:open, Transaction:paid, Delivery:shipped_partially</name>
                </option>
                <option>
                    <id>{"order":"open","orderTransaction":"paid","orderDelivery":"shipped"}</id>
                    <name>Order:open, Transaction:paid, Delivery:shipped</name>
                </option>
                <option>
                    <id>{"order":"open","orderTransaction":"paid_partially","orderDelivery":"open"}</id>
                    <name>Order:open, Transaction:paid_partially, Delivery:open</name>
                </option>
                <option>
                    <id>{"order":"open","orderTransaction":"paid_partially","orderDelivery":"shipped_partially"}</id>
                    <name>Order:open, Transaction:paid_partially, Delivery:shipped_partially</name>
                </option>
                <option>
                    <id>{"order":"open","orderTransaction":"paid_partially","orderDelivery":"shipped"}</id>
                    <name>Order:open, Transaction:paid_partially, Delivery:shipped</name>
                </option>
                <option>
                    <id>{"order":"open","orderTransaction":"in_progress","orderDelivery":"open"}</id>
                    <name>Order:open, Transaction:in_progress, Delivery:open</name>
                </option>
                <option>
                    <id>{"order":"open","orderTransaction":"in_progress","orderDelivery":"shipped_partially"}</id>
                    <name>Order:open, Transaction:in_progress, Delivery:shipped_partially</name>
                </option>
                <option>
                    <id>{"order":"open","orderTransaction":"in_progress","orderDelivery":"shipped"}</id>
                    <name>Order:open, Transaction:in_progress, Delivery:shipped</name>
                </option>
                <option>
                    <id>{"order":"in_progress","orderTransaction":"open","orderDelivery":"open"}</id>
                    <name>Order:in_progress, Transaction:open, Delivery:open</name>
                </option>
                <option>
                    <id>{"order":"in_progress","orderTransaction":"open","orderDelivery":"shipped_partially"}</id>
                    <name>Order:in_progress, Transaction:open, Delivery:shipped_partially</name>
                </option>
                <option>
                    <id>{"order":"in_progress","orderTransaction":"open","orderDelivery":"shipped"}</id>
                    <name>Order:in_progress, Transaction:open, Delivery:shipped</name>
                </option>
                <option>
                    <id>{"order":"in_progress","orderTransaction":"paid","orderDelivery":"open"}</id>
                    <name>Order:in_progress, Transaction:paid, Delivery:open</name>
                </option>
                <option>
                    <id>{"order":"in_progress","orderTransaction":"paid","orderDelivery":"shipped_partially"}</id>
                    <name>Order:in_progress, Transaction:paid, Delivery:shipped_partially</name>
                </option>
                <option>
                    <id>{"order":"in_progress","orderTransaction":"paid","orderDelivery":"shipped"}</id>
                    <name>Order:in_progress, Transaction:paid, Delivery:shipped</name>
                </option>
                <option>
                    <id>{"order":"in_progress","orderTransaction":"paid_partially","orderDelivery":"open"}</id>
                    <name>Order:in_progress, Transaction:paid_partially, Delivery:open</name>
                </option>
                <option>
                    <id>{"order":"in_progress","orderTransaction":"paid_partially","orderDelivery":"shipped_partially"}</id>
                    <name>Order:in_progress, Transaction:paid_partially, Delivery:shipped_partially</name>
                </option>
                <option>
                    <id>{"order":"in_progress","orderTransaction":"paid_partially","orderDelivery":"shipped"}</id>
                    <name>Order:in_progress, Transaction:paid_partially, Delivery:shipped</name>
                </option>
                <option>
                    <id>{"order":"in_progress","orderTransaction":"in_progress","orderDelivery":"open"}</id>
                    <name>Order:in_progress, Transaction:in_progress, Delivery:open</name>
                </option>
                <option>
                    <id>{"order":"in_progress","orderTransaction":"in_progress","orderDelivery":"shipped_partially"}</id>
                    <name>Order:in_progress, Transaction:in_progress, Delivery:shipped_partially</name>
                </option>
                <option>
                    <id>{"order":"in_progress","orderTransaction":"in_progress","orderDelivery":"shipped"}</id>
                    <name>Order:in_progress, Transaction:in_progress, Delivery:shipped</name>
                </option>
                <option>
                    <id>{"order":"completed","orderTransaction":"open","orderDelivery":"open"}</id>
                    <name>Order:completed, Transaction:open, Delivery:open</name>
                </option>
                <option>
                    <id>{"order":"completed","orderTransaction":"open","orderDelivery":"shipped_partially"}</id>
                    <name>Order:completed, Transaction:open, Delivery:shipped_partially</name>
                </option>
                <option>
                    <id>{"order":"completed","orderTransaction":"open","orderDelivery":"shipped"}</id>
                    <name>Order:completed, Transaction:open, Delivery:shipped</name>
                </option>
                <option>
                    <id>{"order":"completed","orderTransaction":"paid","orderDelivery":"open"}</id>
                    <name>Order:completed, Transaction:paid, Delivery:open</name>
                </option>
                <option>
                    <id>{"order":"completed","orderTransaction":"paid","orderDelivery":"shipped_partially"}</id>
                    <name>Order:completed, Transaction:paid, Delivery:shipped_partially</name>
                </option>
                <option>
                    <id>{"order":"completed","orderTransaction":"paid","orderDelivery":"shipped"}</id>
                    <name>Order:completed, Transaction:paid, Delivery:shipped</name>
                </option>
                <option>
                    <id>{"order":"completed","orderTransaction":"paid_partially","orderDelivery":"open"}</id>
                    <name>Order:completed, Transaction:paid_partially, Delivery:open</name>
                </option>
                <option>
                    <id>{"order":"completed","orderTransaction":"paid_partially","orderDelivery":"shipped_partially"}</id>
                    <name>Order:completed, Transaction:paid_partially, Delivery:shipped_partially</name>
                </option>
                <option>
                    <id>{"order":"completed","orderTransaction":"paid_partially","orderDelivery":"shipped"}</id>
                    <name>Order:completed, Transaction:paid_partially, Delivery:shipped</name>
                </option>
                <option>
                    <id>{"order":"completed","orderTransaction":"in_progress","orderDelivery":"open"}</id>
                    <name>Order:completed, Transaction:in_progress, Delivery:open</name>
                </option>
                <option>
                    <id>{"order":"completed","orderTransaction":"in_progress","orderDelivery":"shipped_partially"}</id>
                    <name>Order:completed, Transaction:in_progress, Delivery:shipped_partially</name>
                </option>
                <option>
                    <id>{"order":"completed","orderTransaction":"in_progress","orderDelivery":"shipped"}</id>
                    <name>Order:completed, Transaction:in_progress, Delivery:shipped</name>
                </option>
            </options>
            <label>Order state filter</label>
            <label lang="de-DE">Order-Status</label>
        </input-field>

        <input-field>
            <name>mixerProductEmailRecipients</name>
            <label>E-Mail Recipients</label>
            <label lang="de-DE">E-Mail Empfänger</label>
            <placeholder>hallo@inventivo.de</placeholder>
        </input-field>

        <input-field type="textarea">
            <name>mixerProductEmailBody</name>
            <label> E-Mail Body</label>
            <label lang="de-DE">E-Mail Text</label>
            <placeholder>Ein text</placeholder>
        </input-field>
    </card>
</config>
