{% block swag_customized_products_option_type_base %}
    {% parent %}
{% endblock %}

{% block swag_customized_products_option_type_base_content %}
    {% block swag_customized_products_option_type_textarea_content %}
        <div class="swag-customized-products-option-type-textarea__content">

            {% block swag_customized_products_option_type_textarea_field_item_number %}
                <div class="swag-customized-products-option-grid">
                    <sw-text-field v-model="option.itemNumber"
                                   :placeholder="$tc('swag-customized-products.optionDetailModal.optionType.placeholderItemNumber')"
                                   :label="$tc('swag-customized-products.optionDetailModal.optionType.itemNumberLabel')"
                                   :helpText="$tc('swag-customized-products.optionDetailModal.optionType.itemNumberHelpText')">
                    </sw-text-field>
                </div>
            {% endblock %}

            {% block swag_customized_products_option_type_textarea_field_group %}
                <sw-container class="swag-customized-products-option-type-textarea__field_group"
                              columns="repeat(auto-fit, minmax(150px, 1fr))"
                              gap="0px 30px">

                    {% block swag_customized_products_option_type_textarea_field_group_placeholder %}
                        <sw-text-field
                            v-model="option.typeProperties.placeholder"
                            class="swag-customized-products-option-type-textarea__field_placeholder"
                            :placeholder="$tc('swag-customized-products.optionDetailModal.optionType.placeholderPlaceholder')"
                            :label="$tc('swag-customized-products.optionDetailModal.optionType.placeholderLabel')">
                        </sw-text-field>
                    {% endblock %}
                </sw-container>
            {% endblock %}

            {% block swag_customized_products_option_type_textarea_field_min_length %}
                <sw-number-field
                    v-model="option.typeProperties.minLength"
                    class="swag-customized-products-option-type-textarea__field_min_length"
                    :label="$tc('swag-customized-products.optionDetailModal.optionType.textfield.minLengthLabel')"
                    numberType="int"
                    required>
                </sw-number-field>
            {% endblock %}

            {% block swag_customized_products_option_type_textarea_field_max_length %}
                <sw-number-field
                    v-model="option.typeProperties.maxLength"
                    class="swag-customized-products-option-type-textarea__field_max_length"
                    :label="$tc('swag-customized-products.optionDetailModal.optionType.textfield.maxLengthLabel')"
                    numberType="int"
                    required>
                </sw-number-field>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
