{% block sw_cms_block_text_on_image_two_columns %}
    <div class="sw-cms-block-text-on-image-two-columns">
        <div class="sw-cms-block-image-text-row__left">
            <slot name="left-image"></slot>
            <slot name="left-text"></slot>
        </div>

        <div class="sw-cms-block-image-text-row__right">
            <slot name="right-image"></slot>
            <slot name="right-text"></slot>
        </div>
    </div>
{% endblock %}
