{% block sw_cms_block_image_text_row_six_columns %}
    <div class="sw-cms-block-image-text-row-six-columns">
        <slot name="leftText">{% block sw_cms_block_image_text_row_six_columns_slot_left_text %}{% endblock %}</slot>
        <slot name="rightText">{% block sw_cms_block_image_text_row_six_columns_slot_right_text %}{% endblock %}</slot>
        <slot name="leftImage">{% block sw_cms_block_image_text_row_six_columns_slot_left_image %}{% endblock %}</slot>
        <slot name="rightImage">{% block sw_cms_block_image_text_row_six_columns_slot_right_image %}{% endblock %}</slot>
    </div>
{% endblock %}
