{% block swag_customized_products_option_type_base %}
    {% parent %}
{% endblock %}

{% block swag_customized_products_option_type_base_content %}
    <div class="swag-customized-products-option-type-numberfield__content">

        {% block swag_customized_products_option_type_numberfield_field_item_number %}
            <div class="swag-customized-products-option-grid">
                <sw-text-field v-model="option.itemNumber"
                               :placeholder="$tc('swag-customized-products.optionDetailModal.optionType.placeholderItemNumber')"
                               :label="$tc('swag-customized-products.optionDetailModal.optionType.itemNumberLabel')"
                               :helpText="$tc('swag-customized-products.optionDetailModal.optionType.itemNumberHelpText')">
                </sw-text-field>
            </div>
        {% endblock %}

        {% block swag_customized_products_option_type_numberfield_field_group %}
            <sw-container class="swag-customized-products-option-type-numberfield__field_group"
                          columns="repeat(4, minmax(150px, 1fr))"
                          gap="0px 32px">

                {% block swag_customized_products_option_type_numberfield_field_min_value %}
                    <sw-number-field
                        v-model="option.typeProperties.minValue"
                        class="swag-customized-products-option-type-numberfield__field_min_value"
                        :label="$tc('swag-customized-products.optionDetailModal.optionType.numberfield.minimumValueLabel')"
                        :step="0.1"
                        :max="option.typeProperties.maxValue"
                        placeholder="0"
                        required>
                    </sw-number-field>
                {% endblock %}

                {% block swag_customized_products_option_type_numberfield_field_max_value %}
                    <sw-number-field
                        v-model="option.typeProperties.maxValue"
                        class="swag-customized-products-option-type-numberfield__field_max_value"
                        :label="$tc('swag-customized-products.optionDetailModal.optionType.numberfield.maximumValueLabel')"
                        :step="0.1"
                        :min="option.typeProperties.minValue"
                        placeholder="1"
                        required>
                    </sw-number-field>
                {% endblock %}

                {% block swag_customized_products_option_type_numberfield_field_interval %}
                    <sw-number-field
                        v-model="option.typeProperties.interval"
                        class="swag-customized-products-option-type-numberfield__field_interval"
                        :label="$tc('swag-customized-products.optionDetailModal.optionType.numberfield.stepLabel')"
                        numberType="float"
                        :step="0.1"
                        :digits="10"
                        placeholder="1"
                        required>
                    </sw-number-field>
                {% endblock %}

                {% block swag_customized_products_option_type_numberfield_field_default_value %}
                    <sw-number-field
                        v-model="option.typeProperties.defaultValue"
                        class="swag-customized-products-option-type-numberfield__field_default_value"
                        :label="$tc('swag-customized-products.optionDetailModal.optionType.defaultLabel')"
                        :step="0.1"
                        placeholder="1"
                        required>
                    </sw-number-field>
                {% endblock %}

                {% block swag_customized_products_option_type_numberfield_field_decimal_places %}
                    {# @deprecated tag:3.0.0 use the functionality of 'step' instead #}
                {% endblock %}
            </sw-container>
        {% endblock %}
    </div>
{% endblock %}
