{% block sw_product_detail_base_packaging_card %}
    {% parent %}

        {% block swag_customized_products_product_assignment_extension_inherit_wrapper %}
            <sw-inherit-wrapper v-model="product.swagCustomizedProductsTemplateId"
                                :inheritedValue="parentProduct.swagCustomizedProductsTemplateId"
                                :customInheritationCheckFunction="swagCustomizedProductsCheckInheritanceFunction"
                                :customRestoreInheritanceFunction="swagCustomizedProductsRestoreInheritanceFunction"
                                :customRemoveInheritanceFunction="swagCustomizedProductsRemoveInheritanceFunction"
                                isAssociation
                                ref="swagCustomizedProductsTemplate">
                <template #content="{ isInherited, isInheritField, restoreInheritance, removeInheritance }">

                    {% block swag_customized_products_product_assignment_extension_card %}
                        <sw-card :title="$tc('swag-customized-products-product-assignment.cardTitle')"
                                 :isLoading="loading.product || loading.customFieldSets || loading.media"
                                 :class="{ 'sw-card__inherited': isInherited }">
                            <template #title>

                                {% block swag_customized_products_product_assignment_extension_card_title %}
                                    <div class="sw-card__title" :class="{ 'sw-card__title__inherited': isInherited }">
                                        <sw-inheritance-switch v-if="isInheritField"
                                                               class="sw-inherit-wrapper__inheritance-icon"
                                                               :isInherited="isInherited"
                                                               @inheritance-restore="restoreInheritance"
                                                               @inheritance-remove="removeInheritance">
                                        </sw-inheritance-switch>
                                        {{ $tc('swag-customized-products-product-assignment.cardTitle') }}
                                    </div>
                                {% endblock %}
                            </template>

                            {% block swag_customized_products_product_assignment_extension_card_info %}
                                <div class="info-text">

                                    {% block swag_customized_products_product_assignment_extension_card_info_headline %}
                                        <h3 class="font-weight-bolder">
                                            {{ $tc('swag-customized-products-product-assignment.textHeadline') }}
                                        </h3>
                                    {% endblock %}

                                    {% block swag_customized_products_product_assignment_extension_card_info_content %}
                                        <p v-html="$tc('swag-customized-products-product-assignment.textContent')"></p>
                                    {% endblock %}
                                </div>
                            {% endblock %}

                            {% block swag_customized_products_product_assignment_extension_card_select %}
                                <sw-entity-single-select
                                    v-if="!loading.product"
                                    v-model="isInherited ? parentProduct.swagCustomizedProductsTemplateId : product.swagCustomizedProductsTemplateId"
                                    entity="swag_customized_products_template"
                                    labelProperty="internalName"
                                    :placeholder="$tc('swag-customized-products-product-assignment.selectPlaceholder')"
                                    :isInherited="isInherited"
                                    :disabled="isInherited">
                                </sw-entity-single-select>
                            {% endblock %}
                        </sw-card>
                    {% endblock %}
                </template>
            </sw-inherit-wrapper>
        {% endblock %}
{% endblock %}
