{% block sw_entity_single_select %}
    <div class="swag-customized-products-entity-single-select"
         :class="{ 'has--error': !!showSelectionError }">
        {% parent %}
    </div>
{% endblock %}