{% block swag_customized_products_option_type_template_fileupload_template_file %}
    <template class="customized-products-upload-files-element small">

        {% block swag_customized_products_option_type_template_fileupload_template_file_icon %}
            <div class="customized-products-upload-files-element-icon">

                {% block swag_customized_products_option_type_template_fileupload_template_icon_success_content_icon %}
                    {% sw_icon 'file' style { 'size': 'xs' } %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block swag_customized_products_option_type_template_fileupload_template_file_filename %}
            <div class="customized-products-upload-files-element-filename"></div>
        {% endblock %}

        {% block swag_customized_products_option_type_template_fileupload_template_file_close %}
            <div class="customized-products-upload-files-element-close">

                {% block swag_customized_products_option_type_template_fileupload_template_file_close_button %}
                    <button class="customized-products-upload-files-element-close-button">
                        {% sw_icon 'x' style { 'pack': 'solid' } %}
                    </button>
                {% endblock %}
            </div>
        {% endblock %}
    </template>
{% endblock %}