{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_main %}
    {{ parent() }}

    {% sw_include '@InvKernschmelzeTemplate/InvKernschmelzeTemplate/page/product-detail/cross-selling.html.twig' %}
{% endblock %}


{% block base_header %}
   <div class="sticky-padder"></div>
   <div class="header-wrapper">
        {{ parent() }}
{% endblock %}

{% block base_navigation %}
        {{ parent() }}
   </div>
 {% endblock %}


{% block base_footer %}
    {% sw_include '@InvKernschmelzeTemplate/InvKernschmelzeTemplate/pagelets/newsletter/newsletter-signup.html.twig' %}
    {{ parent() }}
{% endblock %}
