{% block swag_customized_products_option_detail_modal %}
    <sw-modal class="swag-customized-products-option-detail-modal"
              :title="getTitle(option)"
              :variant="modalSize"
              @modal-close="onCancel">

        <component v-if="componentIsLoaded"
                   :is="componentName"
                   :option="option"
                   :versionContext="versionContext"
                   ref="dynamicComponent"
                   @option-valid="onOptionValid"
                   @save-method-add="onSaveMethodAdd">
        </component>

        <div v-else>
            {{ $tc('swag-customized-products.optionDetailModal.noFormFound') }}
        </div>

        <template #modal-footer>

            {% block swag_option_detail_modal_cancel %}
                <sw-button size="small"
                           class="btn-cancel"
                           @click="onCancel">
                    {{ $tc('global.default.cancel') }}
                </sw-button>
            {% endblock %}

            {% block swag_option_detail_modal_save %}
                <sw-button variant="primary"
                           size="small"
                           :isLoading="isLoading"
                           :disabled="!valid"
                           @click="onSave">
                    {{ $tc('global.default.apply') }}
                </sw-button>
            {% endblock %}
        </template>
    </sw-modal>
{% endblock %}
