<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Cookie configuration</title>
        <title lang="de-DE">Cookie Konfiguration</title>
        <input-field type="bool">
            <name>active</name>
            <label>Active</label>
            <label lang="de-DE">Aktiv</label>   
            <defaultValue>1</defaultValue>
            <helpText>Show the accept-all button for this Sales Channel</helpText>
            <helpText lang="de-DE">Den "Alle-akzeptieren"-Button für diesen Verkaufskanal anzeigen</helpText>
        </input-field>

        <input-field type="bool">
            <name>reloadPage</name>
            <label>Reload Page</label>
            <label lang="de-DE">Seite neu laden</label>   
            <defaultValue>0</defaultValue>
            <helpText>Reloads the page after the user has accepted all cookies.</helpText>
            <helpText lang="de-DE">Seite neu laden, nachdem der Benutzer alle Cookies akzeptiert hat.</helpText>
        </input-field>

    </card>
</config>