<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Configuration</title>
        <title lang="de-DE">Konfiguration</title>

        <input-field type="bool">
            <name>status</name>
            <label>Activ</label>
            <label lang="de-DE">Aktiv</label>
        </input-field>
    </card>

    <card>
        <title>Define three main benefits of your store and a hotline, which can be a phone number or an e-mail address</title>
        <title lang="de-DE">Definiere drei Hauptvorteile Deines Shops und eine Hotline, die eine Telefonnummer oder eine E-Mail-Adresse sein kann</title>

        <input-field type="text">
            <name>benefit1</name>
            <label>Benefit 1</label>
            <label lang="de-DE">Vorteil 1</label>
            <defaultValue>Large selection</defaultValue>
            <defaultValue lang="de-DE">Große Auswahl</defaultValue>
        </input-field>

        <input-field type="text">
            <name>benefit2</name>
            <label>Benefit 2</label>
            <label lang="de-DE">Vorteil 2</label>
            <defaultValue>Top quality</defaultValue>
            <defaultValue lang="de-DE">Top-Qualität</defaultValue>
        </input-field>

        <input-field type="text">
            <name>benefit3</name>
            <label>Benefit 3</label>
            <label lang="de-DE">Vorteil 3</label>
            <defaultValue>Climate Neutral Shipping</defaultValue>
            <defaultValue lang="de-DE">Klimaneutraler Versand</defaultValue>
        </input-field>

        <input-field type="text">
            <name>hotline</name>
            <label>Hotline</label>
            <label lang="de-DE">Hotline</label>
        </input-field>

        <input-field type="text">
            <name>hotlineLink</name>
            <label>Hotline link</label>
            <label lang="de-DE">Hotline link</label>
        </input-field>
    </card>

    <card>
        <title>Icon-Images</title>
        <title lang="de-DE">Icon-Bilder</title>

        <component name="sw-media-field">
            <name>icon1</name>
            <label>Upload icon for benefit 1</label>
            <label lang="de-DE">Icon für Vorteil 1 hochladen</label>
            <helpText>Ideally this is a .svg-file with the measures 30 x 30px.</helpText>
            <helpText lang="de-DE">Idealerweise ist dies eine .svg-Datei mit den Maßen 30 x 30px.</helpText>
            <defaultValue>./storefront/dist/assets/icon/additional/check.svg</defaultValue>
        </component>

        <component name="sw-media-field">
            <name>icon2</name>
            <label>Upload icon for benefit 2</label>
            <label lang="de-DE">Icon für Vorteil 2 hochladen</label>
            <helpText>Ideally this is a .svg-file with the measures 30 x 30px.</helpText>
            <helpText lang="de-DE">Idealerweise ist dies eine .svg-Datei mit den Maßen 30 x 30px.</helpText>
        </component>

        <component name="sw-media-field">
            <name>icon3</name>
            <label>Upload icon for benefit 3</label>
            <label lang="de-DE">Icon für Vorteil 3 hochladen</label>
            <helpText>Ideally this is a .svg-file with the measures 30 x 30px.</helpText>
            <helpText lang="de-DE">Idealerweise ist dies eine .svg-Datei mit den Maßen 30 x 30px.</helpText>
        </component>
    </card>

    <card>
        <title>Icon-Size</title>
        <title lang="de-DE">Icon Größe</title>

        <input-field type="text">
            <name>iconwidth</name>
            <label>Icon width (incl. px)</label>
            <label lang="de-DE">Icon-Breite (inkl. px angeben)</label>
        </input-field>

        <input-field type="text">
            <name>iconheight</name>
            <label>Icon width (incl. px)</label>
            <label lang="de-DE">Icon-Höhe (inkl. px angeben)</label>
        </input-field>
    </card>

    <card>
        <title>Colors</title>
        <title lang="de-DE">Farben</title>

        <component name="sw-colorpicker">
            <name>backgroundColor</name>
            <colorOutput>hex</colorOutput>
            <label>Background color</label>
            <label lang="de-DE">Hintergrundfarbe</label>
            <defaultValue>#000000</defaultValue>
        </component>

        <component name="sw-colorpicker">
            <name>textColor</name>
            <colorOutput>hex</colorOutput>
            <label>Text color</label>
            <label lang="de-DE">Textfarbe</label>
            <defaultValue>#FFFFFF</defaultValue>
        </component>

        <component name="sw-colorpicker">
            <name>IconColor</name>
            <colorOutput>hex</colorOutput>
            <label>Icon color (only for .svg)</label>
            <label lang="de-DE">Icon-Farbe (nur für .svg)</label>
            <defaultValue>#FFFFFF</defaultValue>
        </component>
    </card>
</config>
