{% block swag_customized_products_condition_tree_node_error %}
    <div class="sw-condition__container swag-customized-products-condition-tree-node-error">

        {% block swag_customized_products_condition_tree_node_error_option %}
            <div class="swag-customized-products-condition-tree-node-error__field swag-customized-products-condition-tree-node-error__option">
                <sw-field-error :error="optionError">
                </sw-field-error>
            </div>
        {% endblock %}

        {% block swag_customized_products_condition_tree_node_error_operator %}
            <div v-if="showOperatorError"
                 class="swag-customized-products-condition-tree-node-error__field swag-customized-products-condition-tree-node-error__operator">
                <sw-field-error :error="operatorError">
                </sw-field-error>
            </div>
        {% endblock %}
    </div>
{% endblock %}