<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Select placeholder image for video</title>
        <title lang="de-DE">Platzhalter-Bild für Video auswählen</title>

        <component name="sw-media-field">
            <name>imgLink</name>
            <label>Select preview image</label>
            <label lang="de-DE">Vorschaubild auswählen</label>
        </component>
    </card>
</config>
