includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#does not accept object#'
        - '#Configuration(.*)has(.*)typehint specified#'
        - '#SystemConfigService(.*)has(.*)typehint specified#'
        - '#Class .*AccountEditOrderPageLoadedEvent not found#'
