{% block swag_customized_product_condition_tree_node %}
    <div class="swag-customized-products-condition-tree-node">

        {% block swag_customized_product_condition_tree_node_and_connection_label %}
            <strong v-if="index !== 0">
                {% block swag_customized_product_condition_tree_node_and_connection_label_inner %}
                    {{ $tc('swag-customized-products-condition-tree.node.strongAnd') }}
                {% endblock %}
            </strong>
        {% endblock %}

        <div class="sw-condition sw-condition-tree-node">

            {% block swag_customized_product_condition_tree_node_inner %}
                {% block swag_customized_product_condition_tree_node_inner_condition %}
                    <div class="sw-condition__container">
                        <sw-arrow-field
                            class="sw-condition-type-select"
                            primary="#758CA3">

                            {% block swag_customized_product_condition_tree_node_inner_condition_option_select %}
                                <swag-customized-products-entity-single-select
                                        v-model="condition.templateOptionId"
                                        class="sw-condition-type-select__select"
                                        :class="{ 'has--error': !!conditionTemplateOptionIdError }"
                                        size="medium"
                                        :placeholder="$tc('swag-customized-products-condition-tree.node.optionSelectPlaceholder')"
                                        :criteria="optionCriteria"
                                        :context="context"
                                        :showSelectionError="!!conditionTemplateOptionIdError"
                                        labelProperty="displayName"
                                        :entity="optionRepository.entityName"
                                        required
                                        @change="onOptionChange"
                                        @load="onOptionLoaded">
                                </swag-customized-products-entity-single-select>
                            {% endblock %}
                        </sw-arrow-field>

                        <div class="sw-condition__condition-value">
                            <sw-arrow-field
                                class="swag-customized-products-condition-tree-node__operator-select">

                                {% block swag_customized_product_condition_tree_node_inner_condition_operator_select %}
                                    <template v-if="uiLanguageContext !== null">
                                        <swag-customized-products-entity-single-select
                                                v-if="condition.templateOptionId"
                                                v-model="condition.templateExclusionOperatorId"
                                                class="sw-condition-operator-select__select"
                                                size="medium"
                                                :placeholder="$tc('swag-customized-products-condition-tree.node.operatorSelectPlaceholder')"
                                                :criteria="operatorCriteria"
                                                :context="uiLanguageContext"
                                                :showSelectionError="!!conditionTemplateExclusionOperatorIdError"
                                                labelProperty="label"
                                                :entity="operatorRepository.entityName"
                                                required
                                                @change="onOperatorChange">
                                        </swag-customized-products-entity-single-select>
                                    </template>
                                {% endblock %}
                            </sw-arrow-field>
                        </div>

                        {% block swag_customized_product_condition_tree_node_inner_condition_context_button %}
                            <sw-context-button class="sw-condition__context-button">

                                    {% block swag_customized_product_condition_tree_node_inner_condition_context_button_inner %}
                                        <sw-context-menu-item @click="$emit('delete-condition', index)"
                                                              variant="danger">
                                            {{ $tc('global.default.delete') }}
                                        </sw-context-menu-item>
                                    {% endblock %}
                                </sw-context-button>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block swag_customized_product_condition_tree_node_inner_condition_error %}
                    <swag-customized-products-condition-tree-node-error
                        :optionError="conditionTemplateOptionIdError"
                        :operatorError="conditionTemplateExclusionOperatorIdError"
                        :showOperatorError="!!condition.templateOptionId">
                    </swag-customized-products-condition-tree-node-error>
                {% endblock %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
