{% block swag_customized_products_exclusion_list %}
    <div class="swag_customized_products_exclusion_list">

        {% block swag_customized_products_exclusion_list_card %}
            <sw-card :title="$tc('swag-customized-products.detail.tabGeneral.cardExclusion.title')">

                {% block swag_customized_products_exclusion_list_grid_toolbar %}
                    <template #toolbar>
                        <sw-card-filter
                                :placeholder="$tc('swag-customized-products.detail.tabGeneral.cardExclusion.placeholderSearch')"
                                @sw-card-filter-term-change="onExclusionSearch">
                            <template #filter>

                                {% block sw_customer_detail_addresses_add_button %}
                                    <sw-button
                                            class="swag-customized-products-detail-base__add-option-action"
                                            size="small"
                                            variant="ghost"
                                            @click="onExclusionAdd">
                                        {{ $tc('swag-customized-products.detail.tabGeneral.cardExclusion.buttonAdd') }}
                                    </sw-button>
                                {% endblock %}
                            </template>
                        </sw-card-filter>
                    </template>
                {% endblock %}

                {% block swag_customized_products_exclusion_list_grid_content %}
                    <template #grid>
                        <sw-one-to-many-grid
                            v-if="exclusions.length > 0"
                            class="swag-customized-products-detail-base__option-grid"
                            :collection="exclusions"
                            :localMode="false"
                            :columns="exclusionColumns"
                            :isLoading="isLoading"
                            sortBy="name"
                            :skeletonItemAmount="5"
                            ref="grid"
                            @select-item="onExclusionSelectionChanged"
                            @select-all-items="onExclusionSelectionChanged">

                            {% block swag_customized_products_exclusion_list_grid_columns %}
                                {% block swag_customized_products_exclusion_list_grid_column_name %}
                                    <template #column-name="{ item }">
                                        <a class="link" @click="onExclusionEdit(item)">
                                            {{ item.name }}
                                        </a>
                                    </template>
                                {% endblock %}

                                {% block swag_customized_products_exclusion_list_grid_column_type %}
                                    <template #column-type="{ item }">

                                        {% block swag_customized_products_exclusion_list_grid_column_type_content %}
                                            {{ translateOption(item.type) }}
                                        {% endblock %}
                                    </template>
                                {% endblock %}

                                {% block swag_customized_products_exclusion_list_grid_actions %}
                                    <template #actions="{ item }">

                                        {% block swag_customized_products_exclusion_list_grid_actions_edit %}
                                            <sw-context-menu-item @click="onExclusionEdit(item)">
                                                {{ $tc('global.default.edit') }}
                                            </sw-context-menu-item>
                                        {% endblock %}

                                        {% block swag_customized_products_exclusion_list_grid_actions_delete %}
                                            <sw-context-menu-item variant="danger" @click="onExclusionDelete(item)">
                                                {{ $tc('global.default.delete') }}
                                            </sw-context-menu-item>
                                        {% endblock %}
                                    </template>
                                {% endblock %}

                                {% block swag_customized_products_exclusion_list_grid_bulk_actions %}
                                    <template #bulk>

                                        {% block swag_customized_products_exclusion_list_grid_bulk_actions_delete %}
                                            <a class="link link-danger" @click="onExclusionsBulkDelete">
                                                {{ $tc('global.default.delete') }}
                                            </a>
                                        {% endblock %}
                                    </template>
                                {% endblock %}
                            {% endblock %}
                        </sw-one-to-many-grid>

                        {% block swag_customized_products_exclusion_list_grid_empty_state %}
                            <template v-else>
                                <div class="swag-customized-products-exclusion-list__empty-state">
                                    <img :src="'/administration/static/img/empty-states/products-empty-state.svg' | asset">

                                    <div class="swag-customized-products-exclusion-list__empty-state-label">
                                        <p>{{ $tc('swag-customized-products.detail.tabGeneral.cardExclusion.emptyTitle', (searchTerm.length <= 0) ? 1 : 0) }}</p>
                                    </div>
                                </div>
                            </template>
                        {% endblock %}
                    </template>
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block swag_customized_products_exclusion_modal %}
            <swag-customized-products-exclusion-modal
                v-if="showModal"
                :templateId="templateId"
                :exclusionId="exclusionId"
                :context="context"
                @modal-close="onExclusionModalClose">
            </swag-customized-products-exclusion-modal>
        {% endblock %}

        {% block swag_customized_products_exclusion_delete_modal %}
            <swag-customized-products-exclusion-delete-modal
                v-if="showDeleteModal"
                :currentSelection="selectedElements"
                :currentExclusionName="currentName"
                @confirm-delete="onExclusionConfirmDelete"
                @close-modal="onExclusionCloseDeleteModal">
            </swag-customized-products-exclusion-delete-modal>
        {% endblock %}
    </div>
{% endblock %}
