{% block sw_cms_block_image_text_gallery_preview %}
    <div class="sw-cms-preview-image-text-gallery-six-columns">

        <div class="sw-cms-preview-image-text-gallery-six-columns__first">
            <div class="sw-cms-preview-image-text-gallery-six-columns__image">
                <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
            </div>
            <div class="sw-cms-preview-image-text-gallery-six-columns__text">
                <p>Lorem</p>
            </div>
        </div>

        <div class="sw-cms-preview-image-text-gallery-six-columns__second">
            <div class="sw-cms-preview-image-text-gallery-six-columns__image">
                <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
            </div>
            <div class="sw-cms-preview-image-text-gallery-six-columns__text">
                <p>Ipsum</p>
            </div>
        </div>

        <div class="sw-cms-preview-image-text-gallery-six-columns__third">
            <div class="sw-cms-preview-image-text-gallery-six-columns__image">
                <img :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset">
            </div>
            <div class="sw-cms-preview-image-text-gallery-six-columns__text">
                <p>Dolor</p>
            </div>
        </div>

        <div class="sw-cms-preview-image-text-gallery-six-columns__fourth">
            <div class="sw-cms-preview-image-text-gallery-six-columns__image">
                <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
            </div>
            <div class="sw-cms-preview-image-text-gallery-six-columns__text">
                <p>Lorem</p>
            </div>
        </div>

        <div class="sw-cms-preview-image-text-gallery-six-columns__fifth">
            <div class="sw-cms-preview-image-text-gallery-six-columns__image">
                <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
            </div>
            <div class="sw-cms-preview-image-text-gallery-six-columns__text">
                <p>Ipsum</p>
            </div>
        </div>

        <div class="sw-cms-preview-image-text-gallery-six-columns__sixth">
            <div class="sw-cms-preview-image-text-gallery-six-columns__image">
                <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
            </div>
            <div class="sw-cms-preview-image-text-gallery-six-columns__text">
                <p>Dolor</p>
            </div>
        </div>
    </div>
{% endblock %}
