<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Settings</title>
        <title lang="de-DE">Konfiguration</title>
        <title lang="fr-FR">Configuration</title>

        <input-field type="bool">
            <name>WeloAddressDocument6Invoice</name>
            <label lang="de-DE">Rechnungs- und Lieferanschrift auf der Rechnung anzeigen?</label>
            <label lang="en-GB">Show invoice and delivery address on the invoice?</label>
            <label lang="fr-FR">Afficher l'adresse de facture et de livraison sur la facture?</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>WeloAddressDocument6DeliveryNote</name>
            <label lang="de-DE">Rechnungs- und Lieferanschrift auf dem Lieferschein anzeigen?</label>
            <label lang="en-GB">Show invoice and delivery address on the delivery note?</label>
            <label lang="fr-FR">Afficher l'adresse de facture et de livraison sur le bon de livraison?</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>WeloAddressDocument6Credit</name>
            <label lang="de-DE">Rechnungs- und Lieferanschrift auf der Gutschrift anzeigen?</label>
            <label lang="en-GB">Show invoice and delivery address on the credit note?</label>
            <label lang="fr-FR">Afficher l'adresse de facture et de livraison sur la note de crédit?</label>
        </input-field>

        <input-field type="bool">
            <name>WeloAddressDocument6StornoCancellation</name>
            <label lang="de-DE">Rechnungs- und Lieferanschrift auf der Stornorechnung anzeigen?</label>
            <label lang="en-GB">Show invoice and delivery address on the cancellation invoice?</label>
            <label lang="fr-FR">Afficher l'adresse de facture et de livraison sur la facture d'annulation?</label>
        </input-field>

    </card>
</config>
