<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Basic Configuration</title>
        <title lang="de-DE">Allgemeine Konfiguration</title>
        <input-field type="bool">
            <name>active</name>
            <label>Active</label>
            <label lang="de-DE">Aktiv</label>
        </input-field>
        
        <input-field type="int">
            <name>pages</name>
            <defaultValue>2</defaultValue>
            <label>Number of pages to be loaded</label>
            <label lang="de-DE">Anzahl der Seiten die nachgeladen werden sollen</label>
        </input-field>
        
    </card>
</config>