<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020. GOLLE IT.
  ~ @author Andrey Grigorkin <andrey@golle-it.de>
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basics</title>
        <title lang="de-DE">Grundeinstellungen</title>

        <input-field type="bool">
            <name>sendCustomerEmail</name>
            <label>Send invoice to customers</label>
            <label lang="de-DE">Rechnung an Kunden senden</label>
            <defaultValue>true</defaultValue>
            <helpText>Send invoice to customers per email if the below conditions are satisfied.</helpText>
            <helpText lang="de-DE">Rechnungen an Kunden per E-Mail senden, sobald die unten konfigurierten Einstellungen zutreffen.</helpText>
            <required>true</required>
        </input-field>

        <input-field type="bool">
            <name>alwaysCreateDocuments</name>
            <label>Always create documents</label>
            <label lang="de-DE">Dokumente immer erstellen</label>
            <defaultValue>false</defaultValue>
            <helpText>If ticked, documents are created even if no delivery is made. Other conditions apply.</helpText>
            <helpText lang="de-DE">Falls "Ja", werden Dokumente auch erstellt, wenn der Versand an den Kunden oder Admin nicht gewünscht ist. Es werden dennoch die Bedingungen beachtet.</helpText>
            <required>true</required>
        </input-field>

        <input-field type="bool">
            <name>enableAccountDownload</name>
            <label>Allow downloading invoices in customer account</label>
            <label lang="de-DE">Rechnung im Kundenkonto bereitstellen</label>
            <defaultValue>true</defaultValue>
            <helpText>If ticked, customers are allowed to download their invoices.</helpText>
            <helpText lang="de-DE">Falls aktiviert, kann der Kunde die Rechnung im Kundenkonto herunterladen, sobald diese erstellt wurde.</helpText>
            <required>true</required>
        </input-field>

        <component name="fgits-orderdetail-autoinvoice-attach">
            <name>attachOrderEmail</name>
        </component>

        <component name="fgits-orderdetail-autoinvoice-cron">
            <name>cronjobActive</name>
        </component>
    </card>

    <card>
        <title>Advanced</title>
        <title lang="de-DE">Weitere einstellungen</title>

        <input-field>
            <name>adminEmail</name>
            <label>Admin email</label>
            <label lang="de-DE">Shopbetreiber E-Mail</label>
            <helpText>This email address is used to send documents intended for the administration of the shop. Multiple emails should be separated with commas.</helpText>
            <helpText lang="de-DE">An diese E-Mail-Adresse werden die Dokumente für den Shopbetreiber geschickt. Mehrere E-Mail-Adressen bitte mit Komma trennen.</helpText>
            <required>true</required>
        </input-field>

        <input-field type="datetime">
            <name>processOrdersAfter</name>
            <label>Process orders from</label>
            <label lang="de-DE">Bestellungen verarbeiten ab</label>
            <helpText>Orders before this date are ignored. So, you can prevent sending old invoices to customers.</helpText>
            <helpText lang="de-DE">Bestellungen vor diesem Datum werden vom Plugin und Cronjob ignoriert. So können Sie verhindern, dass alte Rechnungen (nochmals) an den Kunden versandt werden.</helpText>
            <required>true</required>
        </input-field>

        <input-field>
            <name>exportDirectory</name>
            <label>Export directory</label>
            <label lang="de-DE">Export Verzeichnis</label>
            <defaultValue>/files/export</defaultValue>
            <helpText>This directory will contain exported invoices.</helpText>
            <helpText lang="de-DE">In dieses Verzeichnis werden die Rechnungen exportiert. Bitte relativ zum Shopverzeichnis angeben. Rechnungen können über Bestellungen -> FgitsAutoInvoice oder per Cronjob exportiert werden.</helpText>
            <required>true</required>
        </input-field>

        <input-field type="bool">
            <name>exportDirectoryCron</name>
            <label>Allow exporting invoices per cron</label>
            <label lang="de-DE">Automatischen Export von Rechnungen via Cronjob erlauben</label>
            <defaultValue>false</defaultValue>
            <helpText>If ticked, invoices are allowed to be exported in the background by cron.</helpText>
            <helpText lang="de-DE">Falls aktiviert, können Rechnungen im Hintergrund via Cronjob exportiert werden.</helpText>
            <required>true</required>
        </input-field>

        <input-field>
            <name>filenameInvoice</name>
            <label>Invoice filename</label>
            <label lang="de-DE">Dateiname f. Rechnung</label>
            <defaultValue>Rechnung-{$documentName}.pdf</defaultValue>
            <helpText>Available variables: {$orderNumber}, {$orderDay}, {$orderTime}, {$documentNumber}, {$documentPrefix}, {$documentName}, {$documentDate}, {$customerEmail}, {$documentAmount}, {$fullname}, {$firstname}, {$lastname}</helpText>
            <helpText lang="de-DE">Es stehen die folgenden Variablen zur Verfügung: {$orderNumber}, {$orderDay}, {$orderTime}, {$documentNumber}, {$documentPrefix}, {$documentName}, {$documentDate}, {$customerEmail}, {$documentAmount}, {$fullname}, {$firstname}, {$lastname}</helpText>
            <required>true</required>
        </input-field>

        <input-field>
            <name>filenameDeliveryNote</name>
            <label>Delivery note filename</label>
            <label lang="de-DE">Dateiname f. Lieferschein</label>
            <defaultValue>Lieferschein-{$documentName}.pdf</defaultValue>
            <helpText>Available variables: {$orderNumber}, {$orderDay}, {$orderTime}, {$documentNumber}, {$documentPrefix}, {$documentName}, {$documentDate}, {$customerEmail}, {$documentAmount}, {$fullname}, {$firstname}, {$lastname}</helpText>
            <helpText lang="de-DE">Es stehen die folgenden Variablen zur Verfügung: {$orderNumber}, {$orderDay}, {$orderTime}, {$documentNumber}, {$documentPrefix}, {$documentName}, {$documentDate}, {$customerEmail}, {$documentAmount}, {$fullname}, {$firstname}, {$lastname}</helpText>
            <required>true</required>
        </input-field>

        <input-field type="single-select">
            <name>adminEmailType</name>
            <label>Email to admin</label>
            <label lang="de-DE">E-Mail an Shopbetreiber</label>
            <helpText>Choose the kind of email to notify the administration of the shop.</helpText>
            <helpText lang="de-DE">Legen Sie fest, welche E-Mails der Shopbetreiber erhalten soll.</helpText>
            <options>
                <option>
                    <id>send_both</id>
                    <name lang="de-DE">Rechnungskopie + Lieferschein an den Shopbetreiber senden</name>
                </option>
                <option>
                    <id>send_invoice_only</id>
                    <name lang="de-DE">Nur die Rechnungskopie an den Shopbetreiber senden</name>
                </option>
                <option>
                    <id>send_delivery_note_only</id>
                    <name lang="de-DE">Nur den Lieferschein an den Shopbetreiber senden</name>
                </option>
                <option>
                    <id>send_none</id>
                    <name lang="de-DE">Keine Dokumente an den Shopbetreiber senden</name>
                </option>
            </options>
            <defaultValue>send_both</defaultValue>
            <required>true</required>
        </input-field>

        <input-field type="bool">
            <name>sendExistingInvoices</name>
            <label>Send existing invoices</label>
            <label lang="de-DE">Bestehende Rechnugsdokumente versenden</label>
            <defaultValue>false</defaultValue>
            <helpText>If ticked, delivers invoices even if the corresponding documents already exist.</helpText>
            <helpText lang="de-DE">Falls aktiv, versendet das Plugin die Rechnung auch, wenn das Rechnungsdokument bereits existiert, z.B. durch ein anderes Plugin erstellt wurde.</helpText>
            <required>true</required>
        </input-field>

        <input-field type="bool">
            <name>sendDeliveryNoteOnOrderCreation</name>
            <label>Send delivery note on order creation</label>
            <label lang="de-DE">Lieferschein direkt bei Bestelleingang versenden</label>
            <defaultValue>false</defaultValue>
            <helpText>Sends delivery note on order creation to the administration of the shop.</helpText>
            <helpText lang="de-DE">Sendet den Lieferschein direkt bei Bestelleingang an den Shopbetreiber.</helpText>
            <required>true</required>
        </input-field>

        <input-field type="int">
            <name>cronjobOrderLimit</name>
            <label>Orders per cron cycle</label>
            <label lang="de-DE">Bestellungen pro Cronjob-Durchlauf</label>
            <defaultValue>40</defaultValue>
            <helpText>A number of orders processed per cron cycle. Warning: It depends on the server performance. 0 = no limit; max. value = 1000</helpText>
            <helpText lang="de-DE">Diese Anzahl an Bestellungen wird pro Cronjob-Durchlauf verarbeitet. Warnung: Abhängig von der Performance Ihres Servers. 0 = kein Limit; maximaler Wert = 1000</helpText>
            <required>true</required>
        </input-field>

        <component name="fgits-orderdetail-payment-select">
            <name>conditionPaymentStatus</name>
        </component>

        <component name="fgits-orderdetail-state-select">
            <name>conditionOrderStatus</name>
        </component>

        <component name="fgits-orderdetail-customergroup-exclude">
            <name>conditionExcludeCustomerGroup</name>
        </component>

        <component name="fgits-orderdetail-payment-exclude">
            <name>conditionExcludePaymentMethod</name>
            <label>No invoice for these payment methods</label>
            <label lang="de-DE">Keine Rechnung für diese Zahlarten</label>
            <helpText>Excludes selected payment methods. All conditions must be true at the same time.</helpText>
            <helpText lang="de-DE">Schließt die angegebenen Zahlungsarten aus. Die Bedingungen müssen immer alle gleichzeitig zutreffen.</helpText>
        </component>

        <component name="fgits-orderdetail-payment-exclude">
            <name>conditionExcludePaymentMethodFromEvents</name>
            <label>Exclude payment methods from synchronous processing</label>
            <label lang="de-DE">Zahlungsarten von synchroner Verarbeitung ausschließen</label>
            <helpText>Orders with these payment methods will only be processed by cron.</helpText>
            <helpText lang="de-DE">Bestellungen mit diesen Zahlungsarten werden nur per Cronjob verarbeitet. Nützlich bei PayPal Rechnungskauf etc.</helpText>
        </component>

        <component name="fgits-orderdetail-payment-exclude">
            <name>paymentMethodInvoice</name>
            <label>Payment by invoice</label>
            <label lang="de-DE">Zahlungsarten für Kauf auf Rechnung</label>
            <helpText>Invoices for orders with these payment methods will be sent after the order is placed.</helpText>
            <helpText lang="de-DE">Die Rechnungen für Bestellungen mit diesen Zahlungsarten werden sofort nach Bestellabschluss versandt.</helpText>
        </component>
    </card>
</config>
