{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{% block page_product_detail_headline %}
{% endblock %}

{% block page_product_detail_media %}
    <div class="col-lg-8 product-detail-media">
        <div class="row product-detail-headline">
            {% sw_include '@Storefront/storefront/page/product-detail/headline.html.twig' %}
        </div>

        {% if page.product.media %}
            {% sw_include '@Storefront/storefront/element/cms-element-image-gallery.html.twig' with {
                'mediaItems': mediaItems,
                'zoom': true,
                'zoomModal': true,
                'displayMode': 'contain',
                'gutter': 5,
                'minHeight': '430px',
                'navigationArrows': 'inside',
                'navigationDots': 'inside',
                'galleryPosition': 'left',
                'isProduct': true,
                'fallbackImageTitle': page.product.translated.name,
                'startIndexThumbnails': page.product.cover.position + 1,
                'startIndexSlider': page.product.cover.position + 1
            } %}
        {% endif %}

        {% sw_include '@InvKernschmelzeTemplate/InvKernschmelzeTemplate/page/product-detail/benefits.html.twig' %}
    </div>
{% endblock %}

{% block page_product_detail_buy %}
    <div class="col-lg-4 product-detail-buy">
        {% sw_include '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}
    </div>
{% endblock %}

{% block page_product_detail_tabs %}
    <div class="row">
        <div class="col-lg-8">
            {% if page.product.translated.customFields.custom_product_data_story %}
                <div class="custom-product-data-story">
                    {{ page.product.translated.customFields.custom_product_data_story|raw }}
                </div>
            {% endif %}

            {{ parent() }}
        </div>

        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block page_product_detail_cross_selling %}
{% endblock %}



