{% block sw_cms_block_image_text_gallery %}
    <div class="sw-cms-block-image-text-gallery-six-columns">
        <div class="sw-cms-block-image-text-gallery-six-columns__first">
            <slot name="first-image"></slot>
            <slot name="first-text"></slot>
        </div>

        <div class="sw-cms-block-image-text-gallery-six-columns__second">
            <slot name="second-image"></slot>
            <slot name="second-text"></slot>
        </div>

        <div class="sw-cms-block-image-text-gallery-six-columns__third">
            <slot name="third-image"></slot>
            <slot name="third-text"></slot>
        </div>

        <div class="sw-cms-block-image-text-gallery-six-columns__fourth">
            <slot name="fourth-image"></slot>
            <slot name="fourth-text"></slot>
        </div>

        <div class="sw-cms-block-image-text-gallery-six-columns__fifth">
            <slot name="fifth-image"></slot>
            <slot name="fifth-text"></slot>
        </div>

        <div class="sw-cms-block-image-text-gallery-six-columns__sixth">
            <slot name="sixth-image"></slot>
            <slot name="sixth-text"></slot>
        </div>
    </div>
{% endblock %}
