{% block swag_customized_products_detail %}
    <sw-page class="swag-customized-products-detail">

        {% block swag_customized_products_detail_smart_bar_header %}
            <template #smart-bar-header>

                {% block swag_customized_products_detail_smart_bar_header_title %}
                    <h2>

                        {% block swag_customized_products_detail_smart_bar_header_title_text %}
                            {{ identifier }}
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block swag_customized_products_detail_smart_bar_actions %}
            <template #smart-bar-actions>

                {% block swag_customized_products_detail_smart_bar_actions_save_group %}
                    <sw-button-group
                        class="swag-customized-products-detail__save-button-group"
                        :splitButton="true">

                        {% block swag_customized_products_detail_smart_bar_actions_save %}
                            <sw-button-process
                                v-tooltip.bottom="tooltipSave"
                                class="swag-customized-products-detail__save-action"
                                variant="primary"
                                :isLoading="isLoading"
                                :processSuccess="isSaveSuccessful"
                                :disabled="isLoading"
                                @process-finish="onSaveFinish(true)"
                                @click.prevent="onSave">
                                {{ $tc('global.default.save') }}
                            </sw-button-process>
                        {% endblock %}

                        {% block swag_customized_products_detail_smart_bar_actions_save_context_menu %}
                            <sw-context-button v-if="!isNewlyCreated">
                                <template #button>
                                    <sw-button
                                        class="swag-customized-products-detail__context-menu-save-action"
                                        square
                                        variant="primary"
                                        :disabled="isLoading">
                                        <sw-icon name="small-arrow-medium-down" size="16"></sw-icon>
                                    </sw-button>
                                </template>

                                {% block sw_product_detail_actions_save_context_menu_actions %}
                                    {% block sw_product_detail_actions_duplicate %}
                                        <sw-context-menu-item
                                            class="swag-customized-products-detail__context-menu-duplicate-action"
                                            @click="onDuplicateSave">
                                            {{ $tc('swag-customized-products.detail.buttonSaveDuplicate') }}
                                        </sw-context-menu-item>
                                    {% endblock %}
                                {% endblock %}
                            </sw-context-button>
                        {% endblock %}
                    </sw-button-group>
                {% endblock %}
            </template>
        {% endblock %}

        {% block swag_customized_products_detail_language_switch %}
            <template #language-switch>
                <sw-language-switch
                    :saveChangesFunction="saveOnLanguageChange"
                    :disabled="isCreateMode"
                    @on-change="onChangeLanguage">
                </sw-language-switch>
            </template>
        {% endblock %}

        {% block swag_customized_products_detail_sidebar %}
            <template #sidebar>
                <sw-sidebar :propagateWidth="true">

                    {% block swag_customized_products_detail_sidebar_media_item %}
                        <sw-sidebar-media-item ref="mediaSidebarItem">
                            <template #context-menu-items="media">

                                {% block swag_customized_products_detail_sidebar_media_item_context %}
                                    <sw-context-menu-item @click="onAddItemToTemplate(media.mediaItem)">
                                        {{ $tc('swag-customized-products.detail.labelContextMenuAddToTemplate') }}
                                    </sw-context-menu-item>
                                {% endblock %}
                            </template>
                        </sw-sidebar-media-item>
                    {% endblock %}
                </sw-sidebar>
            </template>
        {% endblock %}

        {% block swag_customized_products_detail_content %}
            <template #content>
                <sw-card-view>

                    {% block swag_customized_products_detail_language_info %}
                        <sw-language-info
                            :entityDescription="entityDescription"
                            :isNewEntity="isCreateMode">
                        </sw-language-info>
                    {% endblock %}

                    {% block swag_customized_products_detail_tabs %}
                        <sw-tabs v-if="!isCreateMode && showTabs"
                                 class="swag-customized-products-detail-page__tabs">

                            {% block swag_customized_products_detail_general %}
                                <sw-tabs-item
                                    class="swag-customized-products-detail__tab-general"
                                    :route="{ name: 'swag.customized.products.detail.base', params: { id: templateId } }"
                                    :title="$tc('swag-customized-products.detail.tabGeneral.title')">
                                    {{ $tc('swag-customized-products.detail.tabGeneral.title') }}
                                </sw-tabs-item>
                            {% endblock %}

                            {% block swag_customized_products_detail_more_tabs %}
                            {% endblock %}
                        </sw-tabs>
                    {% endblock %}

                    {% block swag_customized_products_detail_content_view %}
                        <router-view
                            v-if="template && !isLoading"
                            :isLoading="isLoading"
                            :template="template"
                            :versionContext="versionContext"
                            :isCreateMode="isCreateMode"
                            :parentRefs="$refs">
                        </router-view>
                    {% endblock %}

                    <sw-loader v-else></sw-loader>
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
