{% block swag_customized_products_option_type_base %}
    {% parent %}
{% endblock %}

{% block swag_customized_products_option_type_base_content %}
    {% block swag_customized_products_option_type_colorpicker_field_itemNumber %}
        <div class="swag-customized-products-option-grid">
            <sw-text-field v-model="option.itemNumber"
                           :placeholder="$tc('swag-customized-products.optionDetailModal.optionType.placeholderItemNumber')"
                           :label="$tc('swag-customized-products.optionDetailModal.optionType.itemNumberLabel')"
                           :helpText="$tc('swag-customized-products.optionDetailModal.optionType.itemNumberHelpText')">
            </sw-text-field>
        </div>
    {% endblock %}

    {% block swag_customized_products_option_type_colorpicker_field_group %}
        <sw-container class="swag-customized-products-option-type-textarea__field-group"
                      columns="repeat(auto-fit, minmax(150px, 1fr))"
                      gap="0px 30px">

            {% block swag_customized_products_option_type_colorpicker_field_group_content %}
                <sw-text-field v-model="option.typeProperties.placeholder"
                               class="swag-customized-products-option-type-textarea__field-placeholder"
                               :label="$tc('swag-customized-products.optionDetailModal.optionType.placeholderLabel')"
                               :placeholder="$tc('swag-customized-products.optionDetailModal.optionType.placeholderPlaceholder')">
                </sw-text-field>
            {% endblock %}
        </sw-container>
    {% endblock %}
{% endblock %}
