{% block sw_cms_block_image_text_row_four_columns %}
    <div class="sw-cms-block-image-text-row-two-columns">
        <div class="sw-cms-block-image-text-row__left">
            <slot name="left-image"></slot>
            <slot name="left-text"></slot>
        </div>

        <div class="sw-cms-block-image-text-row-two-columns__right">
            <slot name="right-image"></slot>
            <slot name="right-text"></slot>
        </div>
    </div>
{% endblock %}
