{% if context.salesChannel.id == "117fc963b83e4318b040eac17bd8b70d" %}
    <!-- B2C: Begin MailChimp Signup Form -->
    <div id="mc_signup">
        <div id="mc_signup_scroll">
            <span class="h2">
                <strong>Anmeldung zum Newsletter</strong> <br /><br />
                Jetzt anmelden und <br />
                <strong>5€ Rabatt</strong> sichern!
            </span>

            <div class="row">
                <div class="col-md-3 col-hidden-xs"></div>
                <div class="form-group col-md-3 col-xs-12">
                    <div class="mc-field-group">
                        <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL-cust" placeholder="Email*" />
                    </div>
                    <input type="hidden" name="signupurl" id="signupurl" value="https://kern-schmelze.us12.list-manage.com/subscribe/post?u=9f2a2cae44130fe79c0e9788b&amp;id=74acfcfd1b&MERGE0=" />
                </div>
                <div class="form-group col-md-3 col-xs-12">
                    <a href="https://eepurl.com/g_zVe5" class="btn btn-primary btn-buy" id="signupformlink" target="blank" rel="nofollow noopener">Jetzt anmelden</a>
                </div>
                <div class="col-md-3 col-hidden-xs"></div>
            </div>

            <ul class="row">
                <li class="col-sm-6 col-12">Attraktive Rabatte & Gutscheine</li>
                <li class="col-sm-6 col-12">Exklusive Sonderaktionen</li>
                <li class="col-sm-6 col-12">Produktneuheiten & Tipps</li>
                <li class="col-sm-6 col-12">Keine Angebote mehr verpassen</li>
            </ul>

            <small>
                Ich möchte regelmäßig über aktuelle Trends, Angebote und Gutscheine von KERNschmelze per E-Mail informiert werden.
                <br />
                Eine Abmeldung ist jederzeit über den in jeder E-Mail enthaltenen Abmeldelink oder unter team@kern-energie.com möglich.
                <br />
                Mit meiner Anmeldung stimme ich den <a href="/service/agb/" target="_blank">AGB</a> und der <a href="/service/datenschutz/" target="_blank">Datenschutzerklärung</a> zu.
                <br />
                Der <strong>5€ Rabatt</strong> ist gültig ab einem Warenkorbwert von <strong>20€</strong>.
            </small>
        </div>
    </div>
{% endif %}

    {% if context.salesChannel.id == "4a186f835877446aa29cd798f0e57437" %}
        <!-- B2B: Begin MailChimp Signup Form -->
        <div id="mc_signup">
            <div id="mc_signup_scroll">
                <span class="h2">Melden Sie sich jetzt für unseren B2B-Newsletter an</span>

                <div class="row">
                    <div class="col-md-3 col-hidden-xs"></div>
                    <div class="form-group col-md-3 col-xs-12">
                        <div class="mc-field-group">
                            <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL-cust" placeholder="Email*" />
                        </div>
                        <input type="hidden" name="signupurl" id="signupurl" value="https://kern-schmelze.us12.list-manage.com/subscribe/post?u=9f2a2cae44130fe79c0e9788b&amp;id=52124bc369&MERGE0=" />
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        <a href="https://eepurl.com/g_GWmf" class="btn btn-primary btn-buy" id="signupformlink" target="blank" rel="nofollow noopener">Jetzt anmelden</a>
                    </div>
                    <div class="col-md-3 col-hidden-xs"></div>
                </div>

                <small>Ich möchte regelmäßig über aktuelle Trends, Angebote und Gutscheine von KERNschmelze per E-Mail informiert werden. Eine Abmeldung ist jederzeit über den in jeder E-Mail enthaltenen Abmeldelink oder unter team@kern-energie.com möglich. <br />Mit meiner Anmeldung stimme ich den <a href="/service/agb/" target="_blank">AGB</a> und der <a href="/service/datenschutz/" target="_blank">Datenschutzerklärung</a> zu.</small>
            </div>
        </div>
    {% endif %}
